{% extends "layout.html" %}
{% set title = 'Register' %}
{% macro with_errors(field, use_glyph=false) -%}
    {%- if field.errors %}
        <div class="has-error">
    {%- elif form.errors %}
        <div class="has-success">
    {%- else %}
        <div>
    {%- endif %}
            {%- set css_class = 'form-control ' + kwargs.pop('class', '') %}
            {{ field(class=css_class, **kwargs) }}
            {%- if use_glyph %}
                <span class="glyphicon form-control-feedback"></span>
            {%- endif %}
            <span class="help-block text-danger" {% if not field.errors %}style="display:none;"{% endif %}>
                {%- for error in field.errors %}{{ error|e }}{%- endfor %}
            </span>
        </div>
{%- endmacro %}

{% block body %}

<div class="page-header text-center">
    <h1>Create an account</h1>
</div>

{% if form.errors %}
<div class="alert alert-danger">
    There were problems with creating your account. Please address any errors in the fields below.
</div>
{% endif %}

<form id="register" class="form-horizontal col-md-6 col-md-offset-3" role="form" action="/register" method="post">
    {{ form.csrf_token }}
    <div class="form-group">
        <label class="col-md-2 control-label" for="first_name">Name</label>
        <div class="col-md-10">
            <div class="row">
                <div class="col-xs-6">
                    {{ with_errors(form.first_name, placeholder="First Name") }}
                </div>
                <div class="col-xs-6">
                    {{ with_errors(form.last_name, placeholder="Last Name") }}
                </div>
            </div>
        </div>
    </div>
    <div class="form-group has-feedback">
        <label class="col-md-2 control-label" for="email">Email</label>
        <div class="col-md-10">
            {{ with_errors(form.email, placeholder="email@example.com") }}
        </div>
    </div>
    <div class="form-group has-feedback">
        <label class="col-md-2 control-label" for="password">Password</label>
        <div class="col-md-10">
            {{ with_errors(form.password, placeholder="Choose a password with at least 8 characters") }}
        </div>
    </div>
    <div class="form-group has-feedback">
        <label class="col-md-2 control-label" for="confirm_password">Confirm</label>
        <div class="col-md-10">
            {{ with_errors(form.confirm_password, placeholder="Confirm your password") }}
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10 col-md-offset-2">
            {{ with_errors(form.recaptcha) }}
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-2 col-md-offset-2">
            <button type="submit" class="btn btn-default">Register</button>
        </div>
    </div>
</form>

{% endblock %}
{% block scripts %}
<script>
function addValidationForField(elem, isSuccess) {
    if (isSuccess) {
        elem.parent().addClass('has-success').removeClass('has-error');
        elem.siblings('.glyphicon').addClass('glyphicon-ok').removeClass('glyphicon-remove');
        elem.siblings('.help-block').hide();
    }
    else {
        elem.parent().addClass('has-error').removeClass('has-success');
        elem.siblings('.glyphicon').addClass('glyphicon-remove').removeClass('glyphicon-ok');
    }
}
function showHelpBlockForField(elem, isSuccess, message) {
    if (isSuccess) {
        elem.parent().addClass('has-success').removeClass('has-error');
        elem.siblings('.help-block').hide();
    }
    else {
        elem.parent().addClass('has-error').removeClass('has-success');
        elem.siblings('.help-block').text(message).show();
    }
}

var first_name = $('#first_name');
function checkFirstName() {
    return first_name.val() != '';
}
first_name.keyup(() => addValidationForField(first_name, checkFirstName()));
first_name.blur(() => showHelpBlockForField(first_name, checkFirstName(), "Your first name cannot be blank."));

var last_name = $('#last_name');
function checkLastName() {
    return last_name.val() != '';
}
last_name.keyup(() => addValidationForField(last_name, checkLastName()));
last_name.blur(() => showHelpBlockForField(last_name, checkLastName(), "Your last name cannot be blank."));

var email = $('#email');
var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
function checkEmail() {
    return re.test(email.val());
}
email.keyup(() => addValidationForField(email, checkEmail()));
email.blur(() => showHelpBlockForField(email, checkEmail(), "Please enter a valid email address."));

var password = $('#password');
function checkPassword() {
    return password.val().length >= 8;
}
password.keyup(() => addValidationForField(password, checkPassword()));
password.blur(() => showHelpBlockForField(password, checkPassword(), "Your password must be at least 8 characters."));

var confirm_password = $('#confirm_password');
function checkConfirmPassword() {
    return password.val() == confirm_password.val();
}
confirm_password.keyup(() => addValidationForField(confirm_password, checkConfirmPassword()));
confirm_password.blur(() => showHelpBlockForField(confirm_password, checkConfirmPassword(), "Passwords must match."));

var captcha = $('.g-recaptcha');
function checkCaptcha() {
    return grecaptcha.getResponse() != "";
}

function validateForm() {
    first_name.keyup();
    first_name.blur();
    last_name.keyup();
    last_name.blur();
    email.keyup();
    email.blur();
    password.keyup();
    password.blur();
    confirm_password.keyup();
    confirm_password.blur();

    addValidationForField(captcha, checkCaptcha());
    showHelpBlockForField(captcha, checkCaptcha(), "reCAPTCHA must be solved.");

    return checkFirstName() && checkLastName() && checkEmail() && checkPassword() && checkConfirmPassword() && checkCaptcha();
}
$('#register').submit(validateForm);
</script>
{% endblock %}
