{% extends "layout.html" %}
{% set title = 'Reset Password' %}
{% macro with_errors(field, use_glyph=false) -%}
    {%- if field.errors %}
        <div class="has-error">
    {%- elif form.errors %}
        <div class="has-success">
    {%- else %}
        <div>
    {%- endif %}
            {%- set css_class = 'form-control ' + kwargs.pop('class', '') %}
            {{ field(class=css_class, **kwargs) }}
            {%- if use_glyph %}
                <span class="glyphicon form-control-feedback"></span>
            {%- endif %}
            <span class="help-block text-danger" {% if not field.errors %}style="display:none;"{% endif %}>
                {%- for error in field.errors %}{{ error|e }}{%- endfor %}
            </span>
        </div>
{%- endmacro %}
{% block body %}

<div class="page-header text-center">
    <h1>Reset Password</h1>
</div>

{% if form.errors %}
<div class="alert alert-danger">
    <strong>There were problems with resetting your password.</strong>
    Please address any errors in the fields below.
</div>
{% endif %}

<form id="reset-password" class="form-horizontal col-md-6 col-md-offset-3" role="form" action="{{ password_reset_url }}" method="post">
    {{ form.csrf_token }}
    <div class="form-group">
        <label class="col-md-2 control-label" for="email">Email</label>
        <div class="col-md-10">
            <p class="form-control-static">{{ email }}</p>
        </div>
    </div>
    <div class="form-group has-feedback">
        <label class="col-md-2 control-label" for="password">Password</label>
        <div class="col-md-10">
            {{ with_errors(form.password, placeholder="Choose a password with at least 8 characters") }}
        </div>
    </div>
    <div class="form-group has-feedback">
        <label class="col-md-2 control-label" for="confirm-password">Confirm</label>
        <div class="col-md-10">
            {{ with_errors(form.confirm_password, placeholder="Confirm your password") }}
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-2 col-md-offset-2">
            <button type="submit" class="btn btn-default">Reset Password</button>
        </div>
    </div>
</form>
{% endblock %}
{% block scripts %}
<script>
function addValidationForField(elem, isSuccess) {
    if (isSuccess) {
        elem.parent().addClass('has-success').removeClass('has-error');
        elem.siblings('.glyphicon').addClass('glyphicon-ok').removeClass('glyphicon-remove');
        elem.siblings('.help-block').hide();
    }
    else {
        elem.parent().addClass('has-error').removeClass('has-success');
        elem.siblings('.glyphicon').addClass('glyphicon-remove').removeClass('glyphicon-ok');
    }
}
function showHelpBlockForField(elem, isSuccess, message) {
    if (isSuccess) {
        elem.parent().addClass('has-success').removeClass('has-error');
        elem.siblings('.help-block').hide();
    }
    else {
        elem.parent().addClass('has-error').removeClass('has-success');
        elem.siblings('.help-block').text(message).show();
    }
}

var password = $('#password');
function checkPassword() {
    return password.val().length >= 8;
}
password.keyup(() => addValidationForField(password, checkPassword()));
password.blur(() => showHelpBlockForField(password, checkPassword(), "Your password must be at least 8 characters."));

var confirm_password = $('#confirm_password');
function checkConfirmPassword() {
    return password.val() == confirm_password.val();
}
confirm_password.keyup(() => addValidationForField(confirm_password, checkConfirmPassword()));
confirm_password.blur(() => showHelpBlockForField(confirm_password, checkConfirmPassword(), "Passwords must match."));

function validateForm() {
    password.keyup();
    password.blur();
    confirm_password.keyup();
    confirm_password.blur();

    return checkPassword() && checkConfirmPassword();
}
$('#reset-password').submit(validateForm);
</script>
{% endblock %}
