# OS Junk
.DS_Store

# Text Editor Backup Files
*.swp

# C Compiled Files
a.out

# Python Compiled Files
*.pyc

# Pip Install Files
*.so
*.egg-info/
*.dist-info/

# Python Virtualenv
/venv/

# GAE Files
bulkloader*
backup*
