{% extends "layout.html" %}
{% block body %}
<div class="row">
    <div class="col-md-3">
{% include "sidebar.html" with context %}
    </div>
    <div class="col-md-9">
{% block application %}{% endblock %}
    </div>
{% endblock %}

{% block scripts %}
<script>
var formData;
$(document).ready(function() {
    formData = $('#application').serialize();
    $('#application').submit(submitApplication);
});
function submitApplication() {
    $('#submit').button('loading');
    newData = $('#application').serialize();
    if (formData != newData) {
        $.ajax({
            type: 'POST',
            url: '{{ application_url }}',
            data: newData
        })
        .done(function(data) {
            $('#submit').button('reset');
            formData = newData;
        });
    }
    else {
        setTimeout(function() { $('#submit').button('reset'); }, 500);
    }
    return false;
}
setInterval(submitApplication, 1*60*1000);
</script>
{% endblock %}

{% macro input(name, label='', value='', type='text', disabled='') -%}
<div class="form-group">
    <label for="{{ name }}" class="col-md-3 control-label">{{ label }}</label>
    <div class="col-md-9">
        <input type="{{ type }}" class="form-control" name="{{ name }}" value="{{ value|e }}" {{ disabled }}>
    </div>
</div>
{%- endmacro %}
