{% extends "application.html" %}
{% block application %}
<form id="application" role="form" action="{{ application_url }}" method="post">
    <input type="hidden" id="form-key" name="form-key" value="{{ form_key }}">

    <div class="page-header">
        <h2>Other & Scoring</h2>
    </div>
    <ol>
        <li>
            Receive 5 points in any part for submitting this application early.
            <div class="form-horizontal row">
            {% if application.early_submission_points %}
                <div class="col-lg-5 col-md-6 col-md-offset-1">
                    <strong>{{ checkbox("early-submission-checkbox", "Yes I would like to apply these points to part:", not (application.early_submission_points == '-1')) }}</strong>
                </div>
            {% else %}
                <div class="col-lg-5 col-md-6 col-md-offset-1">
                    <strong>{{ checkbox("early-submission-checkbox", "Yes I would like to apply these points to part:", False) }}</strong>
                </div>
            {% endif %}

                <div class="col-lg-2 col-md-3">
                    {{ select_horizontal("early-submission-points", "", application.early_submission_points, ["","1","2","3","4"], size=0) }}
                </div>
            </div>
        </li>
        <li>
            A recommendation may be submitted by a club member, officer or faculty advisor for a total of 5 points. This recommendation should be no more than 150 words nominating you for the award. The recommendation must be signed by the writer. You can upload the recommendation on the <a href="/application/overview#other-material-upload">overview</a> page.
            <div class="form-horizontal row">
            {% if application.early_submission_points %}
                <div class="col-lg-5 col-md-6 col-md-offset-1">
                    <strong>{{ checkbox("recommender-checkbox", "Yes I would like to apply these points to part:", not (application.recommender_points == '-1')) }}</strong>
                </div>
            {% else %}
                <div class="col-lg-5 col-md-6 col-md-offset-1">
                    <strong>{{ checkbox("recommender-checkbox", "Yes I would like to apply these points to part:", False) }}</strong>
                </div>
            {% endif %}

                <div class="col-lg-2 col-md-3">
                    {{ select_horizontal("recommender-points", "", application.recommender_points, ["", "1","2","3","4"], size=0) }}
                </div>
            </div>
        </li>
        <li>The deadline for submissions is <strong>Feburary 15, 2015</strong>. For all late submission, 5 points will be deducted per day from each part. Submissions sent in three days after the deadline will not be accepted.</li>
    </ol>

    <hr>

    <h5>If you did not reach the minimum requirement for a section, please indicate why here.</h5>
    {{ textarea("scoring-reason-two", "Part II: International, District, & Divisional Projects", application.scoring_reason_two) }}
    {{ textarea("scoring-reason-three", "Part III: Involvement in Key Club Functions", application.scoring_reason_three) }}
    {{ textarea("scoring-reason-four", "Part IV: Projects, Advocacy, & Newsletters", application.scoring_reason_four) }}

    <hr>

    <div id="updated-text" class="text-center" style="display:none"></div>
    <button type="submit" id="submit" data-loading-text="Updating..." class="btn btn-success btn-block">Update</button>
</form>
{% endblock %}
{% block application_scripts %}
<script>
$(document).ready(function() {
    $('input[type=checkbox]').each(function() {
        var infoBox = $(this).parent().parent().parent().parent().parent().find('select');
        if ($(this).is(':checked')) {
            infoBox.removeAttr('disabled');
        }
        else {
            infoBox.attr('disabled', 'disabled');
        }
    });
});

$('input[type=checkbox]').click(function() {
    var infoBox = $(this).parent().parent().parent().parent().parent().find('select');
    if ($(this).is(':checked')) {
        infoBox.removeAttr('disabled');
    }
    else {
        infoBox.attr('disabled', 'disabled');
    }
});
</script>
{% endblock %}
