{% extends "application.html" %}
{% set title = 'Profile' %}
{% block application %}
<form id="application" class="form-horizontal" role="form" action="{{ application_url }}" method="post">
    <div class="page-header">
        <h2>Profile</h2>
    </div>

    {{ input_horizontal("first-name", "First Name", applicant.first_name) }}
    {{ input_horizontal("last-name", "Last Name", applicant.last_name) }}
    {{ input_horizontal("email", "Email", applicant.email, disabled="disabled") }}
    {{ input_horizontal("grade", "Grade", applicant.grade, type='number" min="0" max="12') }}
    {{ input_horizontal("address", "Home Address", applicant.address) }}
    {{ input_horizontal("city", "City", applicant.city) }}
    {{ input_horizontal("zip-code", "Zip Code", applicant.zip_code) }}
    {{ input_horizontal("phone-number", "Phone Number", applicant.phone_number, type="tel") }}

    {{ select_horizontal("division", "Division", applicant.division, ["1", "2", "3", "4N", "4S", "5", "6", "7", "8", "8A", "9", "10", "11", "12", "13", "14", "15", "16", "17", "18", "19", "20", "21", "22", "23", "24", "25", "26", "27"]) }}
    {{ input_horizontal("ltg", "Lieutenant Governor", applicant.ltg) }}

    {{ input_horizontal("school", "School", applicant.school) }}
    {{ input_horizontal("school-address", "School Address", applicant.school_address) }}
    {{ input_horizontal("school-city", "School City", applicant.school_city) }}
    {{ input_horizontal("school-zip-code", "School Zip Code", applicant.school_zip_code) }}
    {{ input_horizontal("club-president", "Club President", applicant.club_president) }}
    {{ input_horizontal("club-president-phone-number", "Club President's Phone Number", applicant.club_president_phone_number, type="tel") }}
    {{ input_horizontal("faculty-advisor", "Faculty Advisor", applicant.faculty_advisor) }}
    {{ input_horizontal("faculty-advisor-phone-number", "Faculty Advisor's Phone Number", applicant.faculty_advisor_phone_number, type="tel") }}

    <hr>

    <div id="updated-text" class="text-center" style="display:none"></div>
    <button type="submit" id="submit" data-loading-text="Updating..." class="btn btn-success btn-block">Update</button>
</form>
{% endblock %}
