<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>DKC Application Confirmation for {{ applicant.first_name }} {{ applicant.last_name }}</title>
        <meta name="viewport" content="width=device-width">
    </head>
    <body style="font-family:Helvetica,Trebuchet MS,Arial,Sans-Serif;font-size:14px;">
        <table style="width:600px;border:none;margin:auto;">
            <tr>
                <td style="border-bottom:#00aeef 4px ridge;">
                    <table style="width:auto;margin:auto;padding:6px 0;">
                        <tr>
                            <td>
                                <img src="http://dkc-application.nydkc.org/images/key-club-logo.png" style="height:70px;max-height:70px;width:70px;max-width:70px;padding-right:20px;" alt="Key Club Logo">
                            </td>
                            <td style="vertical-align:middle;">
                                <h3 style="font-size:20px;font-family:'Century Gothic',Helvetica,Trebuchet MS,Arial,Sans-Serif;">New York District of Key Club International</h3>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <p style="margin-bottom:18px;">Dear {{ applicant.first_name }} {{ applicant.last_name }},</p>
                    <p>Congratulations! You have successfully submitted your DKC Application!</p>
                    <p>This email serves as confirmation that you submitted on {{ application.submit_time|datetimeformat }}.</p>
                    <p>We thank you for an amazing year of service and we look forward to reading your application.</p>
                    <hr>
                    Yours in Care and Service,
                    <p style="margin-top:5px;">
                        Executive Assistant Sherry Yu &amp; District Webmaster Dante Gil-Marin<br>
                        2017-2018 Awards Committee<br>
                        New York District of Key Club International<br>
                        <a href="http://nydkc.org">http://nydkc.org</a> | <a href="http://dkc-app.nydkc.org">http://dkc-app.nydkc.org</a>
                    </p>
                </td>
            </tr>
        </table>
    </body>
</html>
