{% extends "layout-full.html" %}

{% set faq = [
["When is the application deadline for applying?", "The application due date: " ~ config.early_due_date | datetimeformat("%B %e, %Y") ~ " You may submit your application up until 11:59 PM EST on this date. </strong>"],
["Who may apply for the award?", "Any dues-paying Key Club member in good standing may apply for the award."],
["Why do you need my personal information?", "All applicants must submit this information so that you may be easily accessible and that records may be kept for the future in case any issues arise."],
["Who reviews the application?", "The District Awards Committee. The award will be based off of the point system."],
["How are the applications judged?", "Part I will be weighted the most (40%) and the other three parts will be weighed equally. If you complete all parts fully, you will generally receive the award. All other applications are judged holistically. Generally, you will need to complete at least 70% (210 Points) of all the criteria to receive the award."],
["I can't qualify for the DKC Award because I am unable to fulfill all the criteria in the four parts. What should I do?", "If it is due to an issue or circumstance with your home club or division which is out of your control, please contact the Awards Committee Member that will be reviewing your application."],
["If I participated in a project or event prior to April 1, " ~ (config.due_date | datetimeformat("%Y") | int - 1) ~ ", may I still use it in this application?", "No, only events, projects, or meetings during the " ~ (config.due_date | datetimeformat("%Y") | int - 1) ~ " - " ~ (config.due_date | datetimeformat("%Y")) ~ " <strong> service year </strong> may be counted towards this application."],
["Will the Personal Statement be rated on quality?", "Yes, it is important to submit a personal statement of the highest quality. Although there is not a limit on the number of members that may receive the awards, the essay will allow the awards committee to understand you. The personal statement is weighed more than the other three parts (40%)."],
["Will descriptions be rated on quality?", "Yes, it is important to submit everything with a full description of the event. Since this year's DKC award is judged holistically, you may lose points for incomplete descriptions."],
["Will the statement in Part 3, Section 3, Positions Held within Key Club, be rated based on quality?", "Yes, you may receive anywhere from 0 to 10 points based on the quality of work that was submitted."],
["What is sufficient proof for Advocacy?", "You must include a description of the steps you have taken to advocate your project and include at least one additional document, such as a flier, poster, letter or petition."],
["Who can write my recommendation?", "Any Key Club member in good standing, Key Club Officer, Faculty Advisor or Kiwanis Advisor may write your recommendation."],
["Under Part 2, Section 4, do all five projects have to be distinct?", "No, you could have participated in five projects that benefited the same charities and still qualify for the award."],
["If I participated in a Kiwanis One Day Event that was not on the date specified by Kiwanis International, can I still receive points?", "Yes."],
["What does \"Local Causes\" mean? Can they be any organization that I volunteered for?", "Local causes refer to any organization that is not listed under another category. Key Club International strongly believes that clubs should decide what projects each one undertakes so we have decided to include the general category."],
["Does Trick-or-Treat for UNICEF count as an event for Major Emphasis Service Partners?", "Trick-or-Treat for UNICEF should be listed as a Major Emphasis Service Partners project."],
["Can I submit articles to the Empire Key or Divisional Newsletters last minute?", "No."],
["My files fail to upload! What should I do?", "Please make sure that you are running the latest version of your browser or upgrade to a <a href=\"http://browsehappy.com\">supported browser.</a>"],
["If I have any technical problems, who should I contact?", "Please send an email to the District Awards Committee (email is on the Overview tab when you log in) by <strong>8:00 PM EST</strong> on the night the application is due (" ~ config.due_date | datetimeformat("%B %e, %Y") ~ "). Requests after this time may not be honored."],
["Will my data be safe by using this online application?", "Yes, we try our best to make sure that none of your data is lost. This is done by automatically saving your application while you are filling it out and hosting it on a secure platform. However, we do recommend that you save your responses somewhere in the off-chance that something goes wrong."],
["Who can I contact if I have any more questions?", "You should contact the District Awards Committee Member that is responsible for your division. Contact Information can be found when you log in on the Overview tab, Additional Resources."]
] %}

{% block body %}
<div class="home-wrapper">
    <div class="home text-center">
        <div class="title">
            <h1 class="inline">Distinguished</h1>
            <h1 class="inline">Key Clubber</h1>
            <h1>Application</h1>
        </div>

        <img src="/images/key-club-logo.png">

    {% if user %}
        <h4>Logged in as: {{ user.email }}</h4>
        <a class="btn btn-warning btn-block" href="/application">Access your application</a>
    {% else %}
        <div class="row">
            <div class="col-sm-6">
                <a class="btn btn-success btn-block" href="/login">Login</a>
            </div>
            <div class="col-sm-6">
                <a class="btn btn-info btn-block" href="/register">Create an account</a>
            </div>
        </div>
    {% endif %}
        <a class="btn btn-primary btn-block" href="#faq">Frequently Asked Questions</a>
    </div>
</div>

<div id="faq" class="container">
    <div class="page-header text-center">
        <h1>Frequently Asked Questions (FAQ)</h1>
    </div>
    <div class="row search-questions">
        <div class="col-md-8 col-md-offset-2">
            <div class="input-group">
                <input type="text" class="form-control" id="search-input" placeholder="What is your question?" autocomplete="off">
                <span class="input-group-btn">
                    <button class="btn btn-default search-button" type="button" onclick="searchFAQ()"><span class="glyphicon glyphicon-search"></span></button>
                </span>
            </div>
        </div>
    </div>
    <div class="row panel-group" id="questions">
    {% for column in faq|slice(2) -%}
        <div class="col-md-6">
            {% set outerloop = loop %}
            {%- for question in column -%}
            <div class="panel panel-default" id="qref-{{ outerloop.index0 * (faq|length + 1) // 2 + loop.index }}">
                <div class="panel-heading">
                    <div class="panel-title question">
                        <a data-toggle="collapse" href="#faqquestion-{{ outerloop.index0 * (faq|length + 1) // 2 + loop.index }}">
                            {{ question[0] }}
                        </a>
                    </div>
                </div>
                <div id="faqquestion-{{ outerloop.index0 * (faq|length + 1) // 2 + loop.index }}" class="panel-collapse collapse COLLAPSE-PLACEHOLDER">
                    <div class="panel-body">
                        {{ question[1] }}
                    </div>
                </div>
            </div>
            {%- endfor -%}
        </div>
    {%- endfor %}
    </div>
    <div class="row">
        <div id="search-results" class="col-md-8 col-md-offset-2 panel-group"></div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="/js/lunr.min.js"></script>
<script>
{# This is a hack to prevent u from showing up in the javascript array #}
var raw = {{ faq | string | replace("u'", "'") }};
var idx = lunr(function() {
    this.ref('id'),
    this.field('question', {multiplier: 10}),
    this.field('answer')
});
for (var i=0; i<raw.length; ++i) {
    var entry = raw[i];
    var qa = {
        id: i+1,
        question: entry[0],
        answer: entry[1]
    }
    idx.add(qa);
}
var getEntries = function(results) {
    return results.map(function(result, index) {
        var entry = '<div class="panel panel-default">' + $('#qref-' + result.ref).html() + '</div>';
        entry = entry.replace(/faqquestion/g, 'resultquestion'); // Hack to get panels working on results
        if (result.score > .3 || index == 0) {
            entry = entry.replace('COLLAPSE-PLACEHOLDER', 'in')
        }
        return entry;
    });
}
function searchFAQ() {
    var query = $('#search-input').val();
    if (query != '') {
        $('#questions').slideUp();
        var results = idx.search(query);
        if (results.length == 0) {
            $('#search-results').html('<div class="text-center"><p class="lead"><span class="glyphicon glyphicon-thumbs-down"></span><br>No questions matched your search. Try clarifying or continue typing...<br>Otherwise, please contact us at <a href="mailto:recognition@nydkc.org">recognition@nydkc.org</a></p></div>');
        }
        else {
            var entries = getEntries(results);
            $('#search-results').html(entries.join(''));
        }
        $('#search-results').fadeIn();
    }
    else {
        $('#search-results').fadeOut();
        $('#questions').slideDown();
    }
}
$(document).ready(function() {
    $('#search-input').keyup(searchFAQ);
});
</script>
{% endblock %}
