{% extends "layout.html" %}
{% set title = 'Reset Password' %}
{% block body %}

<div class="page-header text-center">
    <h1>Reset Password</h1>
</div>

<div class="alert alert-danger" style="display:none;">
    <h4>There were problems with resetting your password.</h4>
    <div id="errors"></div>
</div>

<form id="reset" class="form-horizontal col-md-6 col-md-offset-3" role="form" action="/reset_password" method="post">
    <div class="form-group">
        <label class="col-md-2 control-label" for="email">Email</label>
        <div class="col-md-10">
            <p class="form-control-static">{{ user.email }}</p>
        </div>
    </div>
    <div class="form-group has-feedback">
        <label class="col-md-2 control-label" for="password">Password</label>
        <div class="col-md-10">
            <input type="password" class="form-control" id="password" name="password" placeholder="Choose a password">
            <span class="glyphicon form-control-feedback"></span>
            <span class="help-block text-danger" style="display:none;">Your password cannot be less than 6 characters.</span>
        </div>
    </div>
    <div class="form-group has-feedback">
        <label class="col-md-2 control-label" for="confirm-password">Confirm</label>
        <div class="col-md-10">
            <input type="password" class="form-control" id="confirm-password" name="confirm-password" placeholder="Confirm your password">
            <span class="glyphicon form-control-feedback"></span>
            <span class="help-block text-danger" style="display:none;">Passwords do not match.</span>
        </div>
    </div>
    <input type="hidden" name="t" value="{{ token }}">
    <div class="form-group">
        <div class="col-md-2 col-md-offset-2">
            <button type="submit" class="btn btn-default">Reset Password</button>
        </div>
    </div>
</form>
{% endblock %}
{% block scripts %}
<script>
var password = $('#password');
var cpassword = $('#confirm-password');
function checkPassword() {
    if (password.val().length < 6) {
        password.parent().addClass('has-error').removeClass('has-success');
        password.siblings('.glyphicon').addClass('glyphicon-remove').removeClass('glyphicon-ok');
        cpassword.parent().addClass('has-error').removeClass('has-success');
        cpassword.siblings('.glyphicon').addClass('glyphicon-remove').removeClass('glyphicon-ok');
        return "Your password must be at least 6 characters.";
    }
    else if (password.val() != cpassword.val()) {
        password.parent().addClass('has-success').removeClass('has-error');
        password.siblings('.glyphicon').addClass('glyphicon-ok').removeClass('glyphicon-remove');
        cpassword.parent().addClass('has-error').removeClass('has-success');
        cpassword.siblings('.glyphicon').addClass('glyphicon-remove').removeClass('glyphicon-ok');
        return "Passwords do not match.";
    }
    else {
        password.parent().addClass('has-success').removeClass('has-error');
        password.siblings('.glyphicon').addClass('glyphicon-ok').removeClass('glyphicon-remove');
        cpassword.parent().addClass('has-success').removeClass('has-error');
        cpassword.siblings('.glyphicon').addClass('glyphicon-ok').removeClass('glyphicon-remove');
        return "";
    }
}
password.keyup(checkPassword);
cpassword.keyup(checkPassword);
password.blur(function() {
    if (password.val().length < 6) {
        password.siblings('.help-block').show();
    }
    else {
        password.siblings('.help-block').hide();
    }
});

function validateForm() {
    var errors = [];
    var cp = checkPassword();
        if (cp != "") {errors.push(cp)};

    if (errors.length > 0) {
        var html = "<ul>";
        for (var i=0; i<errors.length; i++) {
            html += "<li>" + errors[i] + "</li>";
        }
        html += "</ul>";
        $('#errors').html(html).parent().fadeIn(300);
        return false;
    }
    return true;
}

$('#reset').submit(validateForm);
</script>
{% endblock %}
