<div class="sidebar">
    <h2>{{ applicant.first_name }} {{ applicant.last_name }}</h2>

    <h4>
        <a href="/application/profile">Profile</a>
    </h4>

    <h5>
        <a href="/application/personal-statement">Part 1:<br>Personal Statement</a>
    </h5>

    <h5>
        <a href="/application/projects">Part 2:<br>International, District &amp; Divisional Projects</a>
    </h5>

    <h5>
        <a href="/application/involvement">Part 3:<br>Involvement in Key Club Functions</a>
    </h5>

    <h5>
        <a href="/application/activities">Part 4:<br>Projects, Advocacy &amp; Newsletters</a>
    </h5>

    <h5>
        <a href="/application/scoring">Other &amp; Scoring</a>
    </h5>

    <h5>
        <a href="/application/verification">Verification</a>
    </h5>

    <a class="btn btn-warning" href="/logout">Logout</a>

</div>
