<h2>{{ applicant.first_name }} {{ applicant.last_name }}</h2>
<a href="/application/profile">Profile</a>
<br>
<a href="/application/personal-statement">Part 1: Personal Statement</a>
<br>
<a href="/application/projects">Part 2: International, District & Divisional Projects</a>
<br>
<a href="/application/involvement">Part 3: Involvement in Key Club Functions</a>
<br>
<a href="/application/activities">Part 4: Projects, Advocacy & Newsletters</a>
<br>
<a href="/application/scoring">Other & Scoring</a>
<br>
<a href="/application/verification">Verification</a>
<br>
<a class="btn btn-warning" href="/logout">Logout</a>
