{% extends "layout.html" %}
{% set title = 'Survey' %}
{% block body %}

<div class="page-header text-center">
    <h1>Survey</h1>
</div>

<form class="col-md-8 col-md-offset-2" role="form" action="/survey" method="post">
    <p>The Awards Committee would like to know your opinions on the online application for submitting the Distinguished Key Clubber Award. All responses are completely anonymous and <strong>will not</strong> affect your chances of receiving the award. We only want to know what we can do to make the application better for next year.</p>

    <div class="form-group">
        <label for="opinion">What was good/bad about the online application?</label>
        <textarea style="resize: vertical" class="form-control" rows="4" id="opinion" name="opinion"></textarea>
    </div>
    <div class="form-group">
        <label for="improvements">What can we do to improve the online application?</label>
        <textarea style="resize: vertical" class="form-control" rows="4" id="improvements" name="improvements"></textarea>
    </div>
    <div class="form-group">
        <label>On a scale of 1 to 10, what is your overall opinion of the online application?</label>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <th></th>
                    {% for i in range(1, 11) %}
                    <th class="text-center">{{ i }}</th>
                    {% endfor %}
                    <th></th>
                </thead>
                <tbody class="text-center">
                    <td class="text-right">Terrible</td>
                    {% for i in range(1, 11) %}
                    <td><input type="radio" name="rating" value="{{ i }}"></td>
                    {% endfor %}
                    <td class="text-left">Amazing!</td>
                </tbody>
            </table>
        </div>
    </div>
    <div class="form-group text-center">
        <button type="submit" class="btn btn-primary">Submit Response</button>
    </div>
</form>

{% endblock %}
