{% extends "layout.html" %}
{% block body %}

<div class="page-header text-center">
    <h1>Club President Verification</h1>
</div>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <p>Hello.</p>
        <p>You have reached this page because a Distinguished Key Clubber applicant wishes to verify the information in his/her application with you. If any of the information is incorrect, please contact the individual to have him/her fix his/her application before agreeing to the terms outlined below.</p>

        <div class="verification-information form-horizontal">
            <div class="form-group">
                <label class="col-xs-6 control-label">Applicant Name</label>
                <div class="col-xs-6">
                    <p class="form-control-static">{{ applicant.first_name|e }} {{ applicant.last_name|e }}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-6 control-label">Applicant Email</label>
                <div class="col-xs-6">
                    <p class="form-control-static">{{ applicant.email|e }}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-6 control-label">Applicant School</label>
                <div class="col-xs-6">
                    <p class="form-control-static">{{ applicant.school|e }}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-6 control-label">Applicant Division</label>
                <div class="col-xs-6">
                    <p class="form-control-static">{{ applicant.division|e }}</p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-6 control-label">Club President</label>
                <div class="col-xs-6">
                    <p class="form-control-static">{{ applicant.club_president|e }}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-6 control-label">Club President Phone Number</label>
                <div class="col-xs-6">
                    <p class="form-control-static">{{ applicant.club_president_phone_number|e }}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-6 control-label">Club President Email</label>
                <div class="col-xs-6">
                    <p class="form-control-static">{{ application.verification_club_president_email|e }}</p>
                </div>
            </div>
        </div>

        <p>By verifying the application of {{ applicant.first_name|e }} {{ applicant.last_name|e }}, you agree upon the following terms:</p>
        <blockquote>
            I hereby affirm that all of the information included above is true and accurate to the best of my ability. If there should be any false or misleading information, this application is subject to being disqualified and appropriate disciplinary action will be taken.
        </blockquote>

        <form role="form" action="/verification_success" method="post">
            <input type="hidden" name="user-id" value="{{ user_id }}">
            <input type="hidden" name="token" value="{{ token }}">
            <button class="btn btn-primary btn-block">I agree</button>
        </form>
    </div>
</div>

{% endblock %}
