<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Distinguished Key Clubber Application Verification for {{ applicant.first_name }} {{ applicant.last_name }}</title>
        <meta name="viewport" content="width=device-width">
    </head>
    <body style="font-family:Helvetica,Trebuchet MS,Arial,Sans-Serif;font-size:14px;">
        <table style="width:600px;border:none;margin:auto;">
            <tr>
                <td style="border-bottom:#00aeef 4px ridge;">
                    <table style="width:auto;margin:auto;padding:6px 0;">
                        <tr>
                            <td>
                                <img src="http://dkc-application.nydkc.org/images/key-club-logo.png" style="height:70px;max-height:70px;width:70px;max-width:70px;padding-right:20px;" alt="Key Club Logo">
                            </td>
                            <td style="vertical-align:middle;">
                                <h3 style="font-size:20px;font-family:'Century Gothic',Helvetica,Trebuchet MS,Arial,Sans-Serif;">New York District of Key Club International</h3>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <p style="margin-bottom:18px;">Hello {{ verifier }},</p>
                    <p>{{ applicant.first_name }} {{ applicant.last_name }}, from {{ applicant.school }} Key Club has requested your verification for his/her Distinguished Key Clubber Application. <b>The Distinguished Key Clubber Award is a noncompetitive award that recognizes outstanding performance by Key Club members.</b> Last year, approximately 94 of 13,000 members were recognized for the award.</p>
                    <p>Please click the link below to verify his/her application. Please read over the entire page, including the applicant's PDF file, before verifying the information. If any information provided is incorrect or misleading, the applicant may be penalized and disqualified.</p>
                    <div style="text-align:center;margin:40px 0;">
                        <a href="{{ verification_url }}" style="text-decoration:none;padding:10px 40px;text-align:center;font-size:18px;white-space:nowrap;vertical-align:middle;border:1px solid transparent;border-radius:4px;background-color:#036;color:#fff;">&raquo; Verify &laquo;</a>
                    </div>
                    <p>If you have any questions regarding the applicant, please contact the applicant at his/her email address: <a href="mailto:{{ applicant.email }}">{{ applicant.email }}</a></p>
                    <p>Any other questions should be addressed to your division's respective Awards Representative listed below. If you are unsure of who to contact, please contact your Lieutenant Governor.</p>
                    <ul>
                        <li style="margin-bottom:6px;">
                            <u>Awards Representative for Divisions 1-8</u><br>
                            LTG Rachael Rosenstein
                            <a href="mailto:rachaelrosenstein.ltg@nydkc.org">rachaelrosenstein.ltg@nydkc.org</a>
                        </li>
                        <li>
                        	<u>Awards Representative for Divisions 8a-13</u><br>
                            LTG Braeden Dorchester
                            <a href="mailto:braedendorchester.ltg@nydkc.org">braedendorchester.ltg@nydkc.org</a>
                        </li>
                        <li>
                            <u>Awards Representative for Divisions 14-27</u><br>
                            Executive Assistant Sherry Yu
                            <a href="mailto:sherryyu.ea@nydkc.org">sherryyu.ea@nydkc.org</a>
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td style="color:#777;text-decoration:none;">
                    <hr>
                    Yours in Care and Service,
                    <p style="margin-top:5px;">
                        Executive Assistant Sherry Yu &amp; District Webmaster Dante Gil-Marin<br>
                        2017-2018 Awards Committee<br>
                        New York District of Key Club International<br>
                        <a href="http://nydkc.org">http://nydkc.org</a> | <a href="http://dkc-app.nydkc.org">http://dkc-app.nydkc.org</a>
                    </p>
                </td>
            </tr>
        </table>
    </body>
</html>
