<html>
<head>
<style>
{% include "pdf/_main.css" %}
</style>
</head>

<body class="body">
    <div class="cover text-center">
        <h1 class="title-top text-center">
            Distinguished Key Clubber
            <br>Application
        </h1>
        <img src="{{ STATIC_DIR }}/images/key-club-logo.jpg" style="zoom: 40%">
        <h4 class="title-bottom text-center">
            {{ applicant.first_name }} {{ applicant.last_name }}
            <br>{{ application.school }} Key Club
            <br>New York District – Division {{ application.division }}
        </h4>
    </div>

    <!-- Content for Static Frame 'header_frame' -->
    <div id="header_content" class="header text-center">
        {{ applicant.first_name }} {{ applicant.last_name }} &nbsp;&nbsp;|&nbsp;&nbsp; {{ settings.due_date | datetimeformat("%Y") | int - 1 }}-{{ settings.due_date | datetimeformat("%Y") }} Distinguished Key Clubber Application
    </div>

    <!-- Content for Static Frame 'footer_frame' -->
    <div id="footer_content" class="footer text-center">
        © New York District of Key Club International &nbsp;&nbsp;|&nbsp;&nbsp; Page <pdf:pagenumber> of <pdf:pagecount>
    </div>

    <pdf:nexttemplate name="page_template" />

    {% include "pdf/profile.html" %}

    <pdf:nextpage />

    {% include "pdf/personal_statement.html" %}

    <pdf:nextpage />

    {% include "pdf/projects.html" %}

    <pdf:nextpage />

    {% include "pdf/involvement.html" %}

    <pdf:nextpage />

    {% include "pdf/activities.html" %}

    <pdf:nextpage />

    {% include "pdf/other.html" %}
    <div class="separator">&nbsp;</div>

    {% include "pdf/scoring.html" %}
    <div class="separator">&nbsp;</div>

    <pdf:nextpage />

    {% include "pdf/verification.html" %}

    <div class="separator">&nbsp;</div>
    <hr>
    <div class="separator">&nbsp;</div>

    <h4 class="text-center">
    {% if application.submit_time %}
        This application was submitted on
        <br>{{ application.submit_time | datetimeformat("%B %d, %Y at %I:%M %p %Z") }}.
    {% else %}
        DRAFT - This application has not been submitted.
    {% endif %}
    </h4>

    <!-- <p>{{ application }}</p> -->
</body>
</html>
