<div class="page-header">
    <h3>Part 1: Personal Statement</h3>
</div>

{% from 'application/personal_statement.html' import questions with context %}

<div class="personal-statement-prompt">
    <i>
        <b>Topic:</b>
        {% if application.personal_statement_choice %}
            {{ (questions | selectattr("0", "equalto", application.personal_statement_choice) | first)[1] }}
        {% else %}
            [None selected]
        {% endif %}
    </i>
</div>

{% autoescape false %}
<div class="personal-statement-essay">{{ application.personal_statement | forceescape | replace('\n', '<br>') }}</div>
{% endautoescape %}
