<div class="page-header">
    <h3>Verification</h3>
</div>

<div class="section">
<table class="verification-table">
    <thead>
        <tr>
            <th style="width:40px;"></th>
            <th style="width:260px;">Source of Verification</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{% if application.verification_ltg %}<span class="text-success">[ x ]</span>{% else %}<span class="text-danger">[&nbsp;&nbsp;&nbsp;&nbsp;]</span>{% endif %}</td>
            <td>LTG Verification</td>
            <td>{{ application.verification_ltg_email }}</td>
        </tr>
        <tr>
            <td>{% if application.verification_club_president %}<span class="text-success">[ x ]</span>{% else %}<span class="text-danger">[&nbsp;&nbsp;&nbsp;&nbsp;]</span>{% endif %}</td>
            <td>Club President Verification</td>
            <td>{{ application.verification_club_president_email }}</td>
        </tr>
        <tr>
            <td>{% if application.verification_faculty_advisor %}<span class="text-success">[ x ]</span>{% else %}<span class="text-danger">[&nbsp;&nbsp;&nbsp;&nbsp;]</span>{% endif %}</td>
            <td>Faculty Advisor Verfication</td>
            <td>{{ application.verification_faculty_advisor_email }}</td>
        </tr>
        <tr>
            <td>{% if application.verification_applicant %}<span class="text-success">[ x ]</span>{% else %}<span class="text-danger">[&nbsp;&nbsp;&nbsp;&nbsp;]</span>{% endif %}</td>
            <td>Applicant Verification</td>
            <td>Verified on {{ application.verification_applicant_date | datetimeformat("%B %d, %Y at %I:%M %p %Z") }}</td>
        </tr>
    </tbody>
</table>
</div>
