{% macro x_or_empty(val) -%}
    {%- if val %}
        <span class="text-success">[ x ]</span>
    {%- else %}
        <span class="text-danger">[&nbsp;&nbsp;&nbsp;&nbsp;]</span>
    {% endif %}
{%- endmacro %}

<div class="page-header">
    <h3>Verification</h3>
</div>

<div class="section">
<table class="verification-table">
    <thead>
        <tr>
            <th style="width:30pt;"></th>
            <th style="width:180pt;">Source of Verification</th>
            <th style="width:270pt;">Email</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="width:30pt;">{{ x_or_empty(application.verification_ltg) }}</td>
            <td style="width:180pt;">LTG Verification</td>
            <td style="width:270pt;">{{ application.verification_ltg_email }}</td>
        </tr>
        <tr>
            <td style="width:30pt;">{{ x_or_empty(application.verification_club_president) }}</td>
            <td style="width:180pt;">Club President Verification</td>
            <td style="width:270pt;">{{ application.verification_club_president_email }}</td>
        </tr>
        <tr>
            <td style="width:30pt;">{{ x_or_empty(application.verification_faculty_advisor) }}</td>
            <td style="width:180pt;">Faculty Advisor Verfication</td>
            <td style="width:270pt;">{{ application.verification_faculty_advisor_email }}</td>
        </tr>
        <tr>
            <td style="width:30pt;">{{ x_or_empty(application.verification_applicant) }}</td>
            <td style="width:180pt;">Applicant Verification</td>
            <td style="width:270pt;">
                {%- if application.verification_applicant -%}
                    Verified on {{ application.verification_applicant_date | datetimeformat("%B %d, %Y at %I:%M %p %Z") }}
                {%- else -%}
                    No self verification recorded.
                {%- endif -%}
            </td>
        </tr>
    </tbody>
</table>
</div>
