{% extends "layout.html" %}
{% set title = 'Verification Error!' %}
{% block body %}

<div class="page-header text-center">
    <h1>{{ title }}</h1>
</div>

<div class="alert alert-danger col-md-6 col-md-offset-3">
    <p>It seems like something went wrong with the verification link that was sent to you in the email. Please have the applicant send another verification email.</p>
    <p>If the problem persists, contact us at <a href="mailto:recognition@nydkc.org">recognition@nydkc.org</a></p>
</div>

{% endblock %}
