{% extends "admin_dashboard/_admin.html" %}
{% set title = 'Settings' %}

{% macro input(name, label='', value='', type='text', disabled='', size='', extra_attrs=[]) -%}
<div class="form-group">
    {% if label != '' %}<label for="{{ name }}">{{ label }}</label>{% endif %}
    <input type="{{ type }}" class="form-control {% if size %}{{ size }}{% endif %}" id="{{ name }}" name="{{ name }}" value="{% if value|e != 'None' %}{{ value|e }}{% endif %}" {{ disabled }} {% for attr in extra_attrs %} {{ attr | safe }}{% endfor %} autocomplete="off">
</div>
{%- endmacro %}
{% block admin %}
<div class="page-header">
    <h2>Settings</h2>
</div>

<form role="form" method="post">
    {{ input("due_date",
             "Due Date (in US/Eastern timezone)",
             type="datetime-local",
             value=(settings.due_date | datetimeformat("%Y-%m-%dT%H:%M:%S")),
             extra_attrs=["placeholder=\"" ~ (current_time | datetimeformat("%Y-%m-%dT%H:%M:%S")) ~ "\"", "step=1"]) }}

    <div class="form-group">
        <label for="awards_booklet_url">
            Awards Booklet URL
        </label>
        <p>
            <small class="help-block">
                You can upload the Awards Booklet to
                <a href="https://console.cloud.google.com/storage/browser/{{ settings.gcs_bucket }}">https://console.cloud.google.com/storage/browser/{{ settings.gcs_bucket }}</a>
                and paste the public link below.
            </small>
        </p>
        {{ input("awards_booklet_url",
                value=settings.awards_booklet_url,
                extra_attrs=["placeholder=\"https://.../...pdf\""]) }}
    </div>

    <div>
        <strong>Admin User Management</strong>
        <p>
            <small class="help-block">
                You can add/remove admin users at
                <a href="https://console.cloud.google.com/iam-admin/iam?project={{ gcp_project_id }}">https://console.cloud.google.com/iam-admin/iam?project={{ gcp_project_id }}</a>
                by giving the "Viewer" role to their email.
            </small>
        </p>
    </div>

    <hr>

    {{ input("secret_key", "Secret Key", value=settings.secret_key, disabled="readonly", extra_attrs=["placeholder=\"Enter a long secret key used for protecting resources\""]) }}
    <div class="row">
        <div class="col-md-6">
            {{ input("google_oauth_client_id", "Google OAuth Client ID", settings.google_oauth_client_id, disabled="readonly") }}
        </div>
        <div class="col-md-6">
            {{ input("google_oauth_client_secret", "Google OAuth Client Secret", settings.google_oauth_client_secret, disabled="readonly") }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            {{ input("recaptcha_site_key", "Recaptcha Site Key", settings.recaptcha_site_key, disabled="readonly") }}
        </div>
        <div class="col-md-6">
            {{ input("recaptcha_secret", "Recaptcha Secret", settings.recaptcha_secret, disabled="readonly") }}
        </div>
    </div>
    {{ input("sendgrid_api_key", "SendGrid API Key", settings.sendgrid_api_key, disabled="readonly") }}
    {{ input("mailersend_api_key", "MailerSend API Key", settings.mailersend_api_key, disabled="readonly") }}
    {{ input("gcs_bucket", "GCS Bucket for uploaded material", settings.gcs_bucket, disabled="readonly") }}

    <button type="submit" class="btn btn-default">Update</button>
</form>

<div class="settings-danger-zone">
    <div class="page-header">
        <h2 class="text-danger">DANGER ZONE</h1>
    </div>

    <p class="text-danger">
        To select applicants/applications for deletion, go here: <a href="/admin/danger_delete_applicants">/admin/danger_delete_applicants</a>.
    </p>
</div>

{% endblock %}
