@font-face {
    font-family: "Myriad Pro";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/myriad-pro.ttf") format("truetype");
    font-display: swap;
}
@font-face {
    font-family: "Myriad Pro";
    font-style: normal;
    font-weight: 300;
    src: url("/fonts/myriad-pro-light.ttf") format("truetype");
    font-display: swap;
}
@font-face {
    font-family: "Myriad Pro";
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/myriad-pro-bold.ttf") format("truetype");
    font-display: swap;
}
@font-face {
    font-family: "Myriad Pro";
    font-style: italic;
    font-weight: 400;
    src: url("/fonts/myriad-pro-it.ttf") format("truetype");
    font-display: swap;
}
@font-face {
    font-family: "Myriad Pro";
    font-style: italic;
    font-weight: 300;
    src: url("/fonts/myriad-pro-lightit.ttf") format("truetype");
    font-display: swap;
}
@font-face {
    font-family: "Myriad Pro";
    font-style: italic;
    font-weight: 700;
    src: url("/fonts/myriad-pro-boldit.ttf") format("truetype");
    font-display: swap;
}
@font-face {
    font-family: "Century Gothic";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/century-gothic.ttf") format("truetype");
    font-display: swap;
}

noscript div.alert {
    margin-top: 10px;
}

noscript h3 {
    margin-top: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Century Gothic", Arial;
}

html, body {
    font-family: "Myriad Pro", Arial;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    height: 100%;
    min-height: 100%;
    position: relative;
}

.container, .container-fluid {
    height: 100%;
    min-height: 100%;
    position: relative;
}

.container>.row, .container-fluid>.row {
    padding-bottom: 20px;
}

.no-animation {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}

.search-questions .search-button {
    max-height: 34px;
}

.alert {
    text-align: center;
}

.alert ul {
    display: table;
    margin-left:auto;
    margin-right: auto;
    padding-right: 40px;
    text-align: left;
}

.checkbox {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

strong label {
    font-weight: 700 !important;
}

.clickable-row td:not(:last-child) {
    cursor: pointer;
}

.application aside {
    min-height: 50px;
}

#navbar-sidebar.navbar-default {
    background-color: #fff;
    border: none;
}

#menu-header {
    float: none;
}

#menu-header button {
    margin-right: 0;
}

#menu {
    padding: 0;
}

#menu .current-user, #menu-header .current-user {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-height: 30px;
    margin-top: 20px;
    margin-bottom: 0;
}

#menu .sidebar {
    margin-top: 5px;
}

.nav > li > a {
    padding: 8px 15px;
}

#logout-button {
    margin-top: 10px;
    margin-bottom: 5px;
}

.application .page-header {
    margin-top: 20px;
}

blockquote.letter {
    font-size: 14px;
    margin-bottom: 0;
}

#example-submissions table td {
    vertical-align: top;
    padding: 5px;
}

#example-submissions h5 {
    padding: 10px;
    margin: 0;
}

#instruction-rules ul.list-unstyled {
    padding-left: 40px;
}

p.lead:last-child {
    margin-bottom: 0;
}

.progress {
    margin-top: 10px;
    margin-bottom: 0;
}

#other-material-upload-table {
    margin-top: 15px;
}

.project {
    position: relative;
    padding-top: 20px;
}

.project:first-child {
    padding-top: 5px;
}

.project .form-horizontal {
    width: 97%;
}

.project .project-delete {
    position: absolute;
    left: 97%;
    margin-left: -20px;
    bottom: 0;
    margin-bottom: 12px;
}

.project.divisional {
    padding-top: 0;
}

.project.divisional .project-delete {
    margin-bottom: 17px;
}

.glyphicon-trash {
    -webkit-transition: color .2s ease-out, opacity .2s ease-out;
    -moz-transition: color .2s ease-out, opacity .2s ease-out;
    -o-transition: color .2s ease-out, opacity .2s ease-out;
    transition: color .2s ease-out, opacity .2s ease-out;
    opacity: .5;
}

.glyphicon-trash:hover {
    color: #ff0000;
    opacity: 1;
    cursor: pointer;
}

#application .btn-block {
    margin-bottom: 20px;
}

#district-projects-charity {
    display: inline-block;
}

input#district-projects-charity {
    width: 71%;
}

.newsletters .row {
    margin-bottom: 3px;
}

#result {
    margin-bottom: 0;
}

.upload-field {
    border: 4px dashed #ddd;
    width: 100%;
    padding: 13px;
}

.upload-button {
    padding: 8px;
    margin-top: 9px;
    margin-bottom: 9px;
}

.send-button {
    min-width: 60px;
}

.send-button.loading .description,
.upload-button.loading .description {
    display: none;
}

.send-button:not(.loading) .loader,
.upload-button:not(.loading) .loader {
    display: none;
}

.warning-file-size {
    margin-top: 6px;
}

.verification {
    margin-top: 20px;
}

.verification .glyphicon {
    font-size: 23px;
}

.verification h4 {
    margin-top: 5px;
    margin-bottom: 0px;
}

.home-wrapper, #faq {
    display: table;
    width: 100%;
    height: 100%;
}

.home {
    margin: auto;
    margin-top: 12%;
    max-width: 480px;
    width: 100%;
}

.home .title h1 {
    margin-top: 0;
}

.home .title h1.inline {
    padding: 0px 4px;
    display: inline-block;
}

.home img {
    width: auto;
    height: 180px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.home .btn-block {
    margin-top: 5px;
}

.question {
    font-size: 16px;
    font-weight: 700;
}

#questions {
    padding-bottom: 10px;
}

#questions .col-md-6 {
    margin-top: 5px;
}

.application.submitted-application {
    margin-top: 85px;
}

.submitted-overlay {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    right: 0;
    opacity: .8;
    font-size: 16px;
}

@media screen and (max-width: 500px) {
    .application.submitted-application {
        margin-top: 95px;
    }
}

@media screen and (max-width: 768px) {
    #navbar-sidebar.navbar-default {
        border-bottom: 1px solid #003366;
    }
}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 1200px) {
    .nav > li > a {
        padding: 6px 15px;
    }
}

@media screen and (min-width: 768px) {
    .navbar.affix {
        width: 157.5px;
    }
}

@media screen and (min-width: 992px) {
    .navbar.affix {
        width: 212.5px;
    }
}

@media screen and (min-width: 1200px) {
    .navbar.affix {
        width: 262.5px;
    }

    .application.submitted-application {
        margin-top: 60px;
    }
}

.loader.loader-sm {
    font-size: 3.5px;
}
.loader.loader-lg {
    font-size: 4px;
}
.loader:before,
.loader:after,
.loader {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  margin: -1.5em auto 4em;
  position: relative;
  text-indent: -9999em;
  -webkit-animation-delay: 0.16s;
  animation-delay: 0.16s;
}
.loader:before {
  left: -4em;
}
.loader:after {
  left: 4em;
  -webkit-animation-delay: 0.32s;
  animation-delay: 0.32s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em #00aeef;
  }
  40% {
    box-shadow: 0 2.5em 0 0 #00aeef;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em #00aeef;
  }
  40% {
    box-shadow: 0 2.5em 0 0 #00aeef;
  }
}
