{% extends "application/_application.html" %}
{% set title = 'Involvement' %}
{% set key_club_week_start = "November 3, 2025" %}
{% set key_club_week_end = "November 7, 2025" %}
{#
    === NOTE ===
    In the below Key Club programs, feel free to change the "name" and "points" fields.
    Do **not** change the "tag_dont_change" and "value_dont_change" fields, since those are used to store the values in the backend.
#}
{% set key_club_programs = [
    {
        "name": "Divisional Fall Rally",
        "points": 5,
        "tag_dont_change": "attendance-fall-rally",
        "value_dont_change": application.attendance_fall_rally,
    },
    {
        "name": "Key Club International Global Engagement Rally",
        "points": 5,
        "tag_dont_change": "attendance-dtc",
        "value_dont_change": application.attendance_dtc,
    },
    {
        "name": "Kamp Kiwanis",
        "points": 5,
        "tag_dont_change": "attendance-kamp-kiwanis",
        "value_dont_change": application.attendance_kamp_kiwanis,
    },
    {
        "name": "Key Leader",
        "points": 5,
        "tag_dont_change": "attendance-key-leader",
        "value_dont_change": application.attendance_key_leader,
    },
    {
        "name": "2025 Leadership Training Conference",
        "points": 7,
        "tag_dont_change": "attendance-ltc",
        "value_dont_change": application.attendance_ltc,
    },
    {
        "name": "2025 Key Club International Convention",
        "points": 8,
        "tag_dont_change": "attendance-icon",
        "value_dont_change": application.attendance_icon,
    },
] %}
{% set positions_word_limit = 250 %}
{% block application %}
<form id="application" role="form" action="{{ application_url }}" method="post">
    <div class="page-header">
        <h2>Part III: Involvement in Key Club Functions <span class="text-nowrap">(60 Points)</span></h2>
    </div>
    <p class="text-center">This part will show how involved you are at the club, division and district level.
        <br>Required Points: 20 Points
        <br>Recommended Points: 40 Points
    </p>

    <h4>Section 1: Key Club Week Participation (Max 15 Points, 3 Points per Day)</h4>
    <p>Key Club Week was celebrated from {{ key_club_week_start }} to {{ key_club_week_end }}. Below, please indicate what you have done during Key Club Week. If your club celebrated Key Club week at a different time, events are still counted towards this section.</p>

    <div class="form-horizontal">
        {{ input_horizontal("key-club-week-monday", "Monday", application.key_club_week_mon, size=2) }}
        {{ input_horizontal("key-club-week-tuesday", "Tuesday", application.key_club_week_tue, size=2) }}
        {{ input_horizontal("key-club-week-wednesday", "Wednesday", application.key_club_week_wed, size=2) }}
        {{ input_horizontal("key-club-week-thursday", "Thursday", application.key_club_week_thu, size=2) }}
        {{ input_horizontal("key-club-week-friday", "Friday", application.key_club_week_fri, size=2) }}
    </div>

    <hr>

    <h4>Section 2: Attendance at Key Club Functions</h4>
    <p>If you attended any of the following conferences or programs, please indicate which programs by checking the boxes below. Only check off ones that you attended in the {{ settings.due_date | datetimeformat("%Y") | int - 1 }} - {{ settings.due_date | datetimeformat("%Y") }} service year.</p>
    <div class="row">
        <div class="col-sm-11 col-sm-offset-1">
            {%- for program in key_club_programs %}
                {{ checkbox(program.tag_dont_change, "(%d points) %s" % (program.points, program.name), program.value_dont_change) }}
            {%- endfor %}
        </div>
    </div>

    <hr>

    <h4>Section 3: Positions Held within Key Club (10 Points)</h4>
    <p>Please include a typed essay of up to {{ positions_word_limit }} words, that describes any offices or positions that you have held, whether elected (club, district, or international office) or appointed (committee chair, project chair person, project captains, etc.)</p>
    {{ textarea("positions", value=application.positions, rows="10") }}

    <hr>

    <div id="updated-text" class="text-center" style="display:none"></div>
    <button type="submit" id="submit" data-loading-text="Updating..." class="btn btn-success btn-block">Update</button>
</form>
{% endblock %}
{% block application_scripts %}
<script>
$('#positions').textareaCounter({limit: {{ positions_word_limit }} });
</script>
{% endblock %}

