{% extends "application/application.html" %}
{% set title = 'Other' %}
{% block application %}
<form id="application" role="form" action="{{ application_url }}" method="post">
    <input type="hidden" id="form-key" name="form-key" value="{{ form_key }}">

    <div class="page-header">
        <h2>Other &amp; Scoring</h2>
    </div>
    <ol>
        <li>
            A recommendation may be submitted by a club member, officer or faculty advisor for an extra 5 points. This recommendation should be no more than 150 words nominating you for the award. The recommendation must be signed by the writer. You can upload the recommendation on the <a href="/application/overview#other-material-upload">overview</a> page.
            <div class="form-horizontal row">
                <div class="col-lg-5 col-md-6 col-md-offset-1">
                    <strong>{{ checkbox("recommender-checkbox", "Yes I would like to apply these points to part:", application.recommender_points and application.recommender_points != 'No Recommendation') }}</strong>
                </div>

                <div class="col-lg-3 col-md-4">
                    {{ select_horizontal("recommender-points", "", application.recommender_points, ["No Recommendation", "1","2","3","4"], size=0) }}
                </div>
            </div>
        </li>
        <li>
            Are you applying for any of the Outstanding Officer/Member awards? The answer to this question is <strong>REQUIRED</strong> for anyone applying.
            <div class="form-horizontal row">
                <div class="col-lg-7 col-md-offset-1 col-md-8">
                    {{ select_horizontal("outstanding-awards", "I am applying for ", application.outstanding_awards, ["-", "Outstanding Key Club Member","Outstanding Club President","Outstanding Club Vice-President","Outstanding Club Secretary","Outstanding Club Treasurer","Outstanding Club Bulletin Editor","Outstanding Club Webmaster"], size=4) }}
                </div>
            </div>
        </li>
    </ol>

    <hr>

    <h5>If you did not reach the minimum requirement for a section, please indicate why here.</h5>
    {{ textarea("scoring-reason-two", "Part II: International, District, & Divisional Projects", application.scoring_reason_two) }}
    {{ textarea("scoring-reason-three", "Part III: Involvement in Key Club Functions", application.scoring_reason_three) }}
    {{ textarea("scoring-reason-four", "Part IV: Projects, Advocacy, & Newsletters", application.scoring_reason_four) }}

    <hr>

    <div class="panel-group" id="overview-sections">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#other-material-upload">
                        <span class="glyphicon glyphicon-cloud-upload"></span> Upload Other Materials
                    </a>
                </h4>
            </div>
            <div id="other-material-upload" class="panel-collapse collapse in">
                <div class="panel-body">
                    <p>If you have any other materials that you would like to submit with your application, you may upload them here. A few examples are:</p>
                    <ul>
                        <li>Articles that you submitted to district or division publications</li>
                        <li>Recommendation of no more than 150 words nominating you for the award</li>
                    </ul>
                    <p>The maximum number of items that you may upload is <strong>3</strong>.</p>
                    <form id="upload-form" enctype="multipart/form-data">
                        <p class="warning-file-size text-warning" style="display:none;"></p>
                        <div class="row">
                            <div class="col-sm-8 col-md-9">
                                <input type="file" id="other-material-upload-field" class="upload-field" name="other-material">
                            </div>
                            <div class="col-sm-4 col-md-3">
                                <button type="button" id="other-material-upload-button" class="btn btn-primary btn-lg btn-block"><span class="glyphicon glyphicon-upload"></span> Upload</button>
                            </div>
                            <div class="col-md-12">
                                <div class="progress" style="display:none;">
                                    <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                                        <span class="sr-only"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="table-responsive">
                        <table id="other-material-upload-table" class="table table-striped table-condensed table-hover">
                            <thead>
                                <tr>
                                    <th>Type</th>
                                    <th>Filename</th>
                                    <th>Size</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for file in application.other_materials|getblobdata %}
                                <tr href="/serve/{{ file.blob_key }}/{{ file.filename }}" class="clickable-row">
                                    <td>{{ file.content_type }}</td>
                                    <td>{{ file.filename }}</td>
                                    <td class="text-nowrap">{{ file.size|byteconvert }}</td>
                                    <td><a href="/delete/{{ file.blob_key }}"><span class="glyphicon glyphicon-trash"></span></a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr>

    <div id="updated-text" class="text-center" style="display:none"></div>
    <button type="submit" id="submit" data-loading-text="Updating..." class="btn btn-success btn-block">Update</button>
</form>
{% endblock %}
{% block application_scripts %}
<script>
function checkboxEnableSelect() {
    $('input[type=checkbox]').each(function() {
        var checkbox = $(this);
        var closestSelectInput = checkbox.parent().parent().parent().parent().parent().find('select');
        var toggleSelectInput = function() {
            if (checkbox.is(':checked')) {
                closestSelectInput.removeAttr('disabled');
            }
            else {
                closestSelectInput.attr('disabled', 'disabled');
            }
        }
        toggleSelectInput();
        checkbox.change(toggleSelectInput);
    });
}
$(document).ready(checkboxEnableSelect);

$('#other-material-upload-field').change(function() {
    var file = this.files[0];
    if (file.size > 26214400) {
        var warning = $('.warning-file-size');
        warning.html('<span class="glyphicon glyphicon-warning-sign"></span>&nbsp;&nbsp;&nbsp;File size of "' + file.name + '" is too big! Only files &lt;25 MB are allowed.');
        warning.fadeIn(200);
        setTimeout(function() { warning.fadeOut(700); }, 5000);
        $('#upload-form')[0].reset();
    }
});
function getUploadLink() {
    $.ajax({
          url: '/application/upload',
        async: false,
        cache: false
    })
    .done(function(data) {
        window.blob_upload_url = data + "";
    })
    .fail(function(data) {
        sweetAlert("Unable to upload!", "It appears that you are not connected to the internet.", "error");
    });
}
function progressHandler(e) {
    if (e.lengthComputable) {
        var percent = e.loaded / e.total * 100;
        if (percent >= 100) {
            $('.progress-bar').removeClass('active').removeClass('progress-bar-striped');
            $('.progress').fadeOut(1500);
            setTimeout(function() { $('.progress-bar').width(0); }, 1600);
            $('#upload-form')[0].reset();
        }
        else {
            $('.progress-bar').addClass('active').addClass('progress-bar-striped');
        }
        percent += "%";
        $('.progress-bar').css('width', percent);
        $('.progress-bar .sr-only').text(percent);
    }
}
$('#other-material-upload-button').click(function(){
    if ($('#other-material-upload-field').val() == '') {
        return false;
    }
    getUploadLink();
    var formData = new FormData($('#upload-form')[0]);
    $.ajax({
        url: window.blob_upload_url,
        type: 'post',
        contentType: false,
        xhr: function() {
            var myXhr = $.ajaxSettings.xhr();
            if (myXhr.upload) {
                $('.progress').show();
                myXhr.upload.addEventListener('progress', progressHandler, false);
            }
            return myXhr;
        },
        data: formData,
        processData: false,
        cache: false,
        statusCode: {
            423: function(data) {
                     sweetAlert("You MAY NOT modify your application", "Once you have submitted your application, modification of any sort is strictly forbidden.", "error");
                 },
            403: function(data) {
                     sweetAlert("Unable to upload!", "You may only upload a total of 3 items.", "error");
                 }
        }
    })
    .done(function(data) {
        for (var i=0; i<data.length; i++) {
            blobInfo = $.parseJSON(data[i]);
            $('#other-material-upload-table tbody').append('<tr href="/serve/' + blobInfo.key + '/' + blobInfo.filename + '" class="clickable-row"><td>' + blobInfo.content_type + '</td><td>' + blobInfo.filename + '</td><td class="text-nowrap">' + blobInfo.size + '</td><td><a href="/delete/' + blobInfo.key + '"><span class="glyphicon glyphicon-trash"></span></a></td></tr>');
        }
        sweetAlert("File uploaded!", "You have successfully uploaded a file.", "success");
        clickableRows();
    })
    .error(function(data) {
        sweetAlert("Unable to upload!", "Something has gone terribly wrong on our end. Please try again later.", "error");
    });
});
function clickableRows() {
    $(".clickable-row td:not(:last-child)").click(function() {
        window.open($(this).parent().attr('href'), '_blank');
    });
    $('.clickable-row td a').click(function() {
        var trash = $(this);
        $.get(trash.attr('href'))
         .done(function() {
             trash.parent().parent().fadeOut(500);
         })
         .error(function() {
             sweetAlert("Delete failed!", "Something went wrong with deleting the file...", "error");
         });
        return false;
    });
}
$(document).ready(clickableRows);
</script>
{% endblock %}
