{% extends "application/_application.html" %}
{% set title = 'Profile' %}
{% set division_options = ["1", "2", "3", "4N", "4S", "5", "6", "7", "8", "8A", "9", "10", "11", "12", "13", "14", "15", "16", "17", "18", "19", "20", "21", "22", "23", "24", "25", "26", "27"] %}
{% block application %}
<form id="application" class="form-horizontal" role="form" action="{{ application_url }}" method="post">
    <div class="page-header">
        <h2>Profile</h2>
    </div>

    {{ input_horizontal("first-name", "First Name", applicant.first_name) }}
    {{ input_horizontal("last-name", "Last Name", applicant.last_name) }}
    {{ input_horizontal("email", "Email", applicant.email, disabled="disabled") }}
    {{ input_horizontal("grade", "Grade", application.grade, type="number", extra_attrs=["min=1", "max=12"]) }}
    {{ input_horizontal("address", "Home Address", application.address) }}
    {{ input_horizontal("city", "Home City", application.city) }}
    {{ input_horizontal("zip-code", "Home Zip Code", application.zip_code) }}
    {{ input_horizontal("phone-number", "Phone Number", application.phone_number, type="tel") }}

    {{ select_horizontal("division", "Division", application.division, [""] + division_options) }}
    {{ input_horizontal("ltg", "Lieutenant Governor", application.ltg) }}

    {{ input_horizontal("school", "Applicant's School", application.school) }}
    {{ input_horizontal("school-address", "School Address", application.school_address) }}
    {{ input_horizontal("school-city", "School City", application.school_city) }}
    {{ input_horizontal("school-zip-code", "School Zip Code", application.school_zip_code) }}
    {{ input_horizontal("club-president", "Club President", application.club_president) }}
    {{ input_horizontal("club-president-phone-number", "Club President's Phone Number", application.club_president_phone_number, type="tel") }}
    {{ input_horizontal("faculty-advisor", "Faculty Advisor", application.faculty_advisor) }}
    {{ input_horizontal("faculty-advisor-phone-number", "Faculty Advisor's Phone Number", application.faculty_advisor_phone_number, type="tel") }}

    <hr>

    <div id="updated-text" class="text-center" style="display:none"></div>
    <button type="submit" id="submit" data-loading-text="Updating..." class="btn btn-success btn-block">Update</button>
</form>
{% endblock %}
