{% extends "application/_application.html" %}
{% set title = 'Projects' %}
{% set international_charity_options = [
    "Section 1: Governor’s Project: “Soles4Souls”",
    "Section 2: Major Emphasis: “Children: Their Focus, Our Future”",
    "Section 3: Key Club International Service Partners (UNICEF, Children’s Miracle Network, March of Dimes, Erika's Lighthouse, Project Happiness)",
] %}
{% set district_charity_options = [
    "Alex's Lemonade Stand Foundation",
    "Kamp Kiwanis",
    "Kiwanis Pediatric Trauma Center",
    "Kiwanis Pediatric Lyme Disease Foundation",
    "Other",
] %}
{% macro international_project_input(project) %}
<div class="row project">
    <div class="form-horizontal col-xs-12">
        <div class="col-md-4 col-lg-3">
            {{ select_horizontal("international-projects-section", "Section:", project.section, international_charity_options, size=4) }}
        </div>
        <div class="col-md-8 col-lg-9">
            {{ input_horizontal("international-projects-event", "Event:", project.event, size=2) }}
        </div>
        <div class="col-md-12">
            <strong>Description of the event:</strong>
            {{ textarea_horizontal("international-projects-description", value=project.description, size=0) }}
        </div>
    </div>
    <div class="project-delete">
        <span class="glyphicon glyphicon-trash" onclick="deleteProject(this)"></span>
    </div>
</div>
{% endmacro %}
{% macro district_project_input(project) %}
<div class="row project">
    <div class="form-horizontal col-xs-12">
        <div class="col-md-6">
            {{ input_horizontal("district-projects-event", "Event:", project.event, size=2) }}
        </div>
        <div class="col-md-6">
            {{ select_horizontal("district-projects-charity", "Charity:", project.charity, district_charity_options, size=2) }}
        </div>
        <div class="col-md-12">
            <strong>Description of the event:</strong>
            {{ textarea_horizontal("district-projects-description", value=project.description, size=0) }}
        </div>
    </div>
    <div class="project-delete">
        <span class="glyphicon glyphicon-trash" onclick="deleteProject(this)"></span>
    </div>
</div>
{% endmacro %}
{% macro divisional_meeting_input(divisional) %}
<div class="row project divisional">
    <div class="form-horizontal col-xs-12">
        <div class="col-md-4">
            {{ input_horizontal("divisional-meeting-date", "Date:", divisional.date, size=2) }}
        </div>
        <div class="col-md-8">
            {{ input_horizontal("divisional-meeting-location", "Location:", divisional.location, size=2) }}
        </div>
    </div>
    <div class="project-delete">
        <span class="glyphicon glyphicon-trash" onclick="deleteProject(this)"></span>
    </div>
</div>
{% endmacro %}
{% macro divisional_project_input(project) %}
<div class="row project">
    <div class="form-horizontal col-xs-12">
        <div class="col-md-6">
            {{ input_horizontal("division-projects-event", "Event:", project.event, size=2) }}
        </div>
        <div class="col-md-6">
            {{ input_horizontal("division-projects-location", "Location:", project.location, size=3) }}
        </div>
        <div class="col-md-12">
            <strong>Description of the event:</strong>
            {{ textarea_horizontal("division-projects-description", value=project.description, size=0) }}
        </div>
    </div>
    <div class="project-delete">
        <span class="glyphicon glyphicon-trash" onclick="deleteProject(this)"></span>
    </div>
</div>
{% endmacro %}

{% block application %}
<form id="application" role="form" action="{{ application_url }}" method="post">
    <div class="page-header">
        <h2>Part II: International, District &amp; Divisional Projects <span class="text-nowrap">(60 Points)</span></h2>
    </div>
    <p class="text-center">This part is designed to see how much you participated in projects in your Division, the District and International.
        <br>Required Points: 20 Points
        <br>Recommended Points: 40 Points
    </p>

    <h4>Sections 1,2,3: International Projects (Max 24 Points, 4 Points per Event)</h4>
    <p>Complete the following three sections if applicable. Please include the number of service hours, the cause or charity that was helped, the date and location of the event, and a short description.</p>
    <ul>
        {% for charity in international_charity_options %}
        <li>{{ charity }}</li>
        {% endfor %}
    </ul>
    <div class="international-projects">
        {% for project in application.international_projects %}
        {{ international_project_input(project) }}
        {% endfor %}
    </div>
    <button class="btn btn-inverse btn-block" id="international-projects-button"><span class="glyphicon glyphicon-plus"></span> Add more events...</button>

    <hr>

    <h4>Section 4: District Projects &amp; Local Causes (Max 20 Points, 4 Points per Event)</h4>
    <p>Describe up to five projects or events that you have participated in relating to either the District Projects or Local Causes. At least one project must be a District Project. You must include all information as requested. Please include the number of service hours, the cause or charity that was helped, the date and location of the event, and a short description. The District Projects are:</p>
    <ul>
        {% for charity in district_charity_options %}
        <li>{{ charity }}</li>
        {% endfor %}
    </ul>

    <div class="district-projects">
        {% for project in application.district_projects %}
        {{ district_project_input(project) }}
        {% endfor %}
    </div>
    <button class="btn btn-inverse btn-block" id="district-projects-button"><span class="glyphicon glyphicon-plus"></span> Add more events...</button>

    <hr>

    <h4>Section 5: Divisional Involvement</h4>
    <strong>Attendance at Divisional Meetings (Max 8 Points, 4 Points per Event)</strong>
    <p>List any divisionals that you have attended. Please include the date and location of each divisional.</p>
    <div class="divisional-meetings">
        {% for divisional in application.divisionals %}
        {{ divisional_meeting_input(divisional) }}
        {% endfor %}
    </div>
    <button class="btn btn-inverse btn-block" id="divisional-meetings-button"><span class="glyphicon glyphicon-plus"></span> Add more divisionals...</button>

    <div style="margin-top: 10px;"><strong>Attendance at a Divisional Project/Event (Max 8 Points, 4 Points per Event)</strong></div>
    <p>If you have participated in a divisional service project or any division-hosted event, please fill out this section. Please include the number of service hours, the cause or charity that was helped, the date and location of the event, and a short description.</p>
    <div class="division-projects">
        {% for project in application.division_projects %}
        {{ divisional_project_input(project) }}
        {% endfor %}
    </div>
    <button class="btn btn-inverse btn-block" id="division-projects-button"><span class="glyphicon glyphicon-plus"></span> Add more events...</button>

    <hr>

    <div id="updated-text" class="text-center" style="display:none"></div>
    <button type="submit" id="submit" data-loading-text="Updating..." class="btn btn-success btn-block">Update</button>
</form>
{% endblock %}
{% block application_scripts %}
<script>
function deleteProject(trash) {
    project = $(trash).parent().parent();
    project.slideUp(400, function() {
        $(this).remove();
        buttonAppearanceCheck();
    });
}
function buttonAppearanceCheck() {
    selectInputOtherFieldExpand();
    if ($('.international-projects .project').length >= 6) {
        $('#international-projects-button').hide();
    } else {
        $('#international-projects-button').fadeIn();
    }
    if ($('.district-projects .project').length >= 5) {
        $('#district-projects-button').hide();
    } else {
        $('#district-projects-button').fadeIn();
    }
    if ($('.divisional-meetings .divisional').length >= 2) {
        $('#divisional-meetings-button').hide();
    } else {
        $('#divisional-meetings-button').fadeIn();
    }
    if ($('.division-projects .project').length >= 2) {
        $('#division-projects-button').hide();
    } else {
        $('#division-projects-button').fadeIn();
    }
}
$(document).ready(buttonAppearanceCheck);
$('#international-projects-button').click(function() {
    $('{{ international_project_input({}) | replace("\n", "") }}').hide().appendTo('.international-projects').slideDown();
    buttonAppearanceCheck();
    return false;
});
$('#district-projects-button').click(function() {
    $('{{ district_project_input({"charity": district_charity_options[0]}) | replace("\n", "") }}').hide().appendTo('.district-projects').slideDown();
    buttonAppearanceCheck();
    return false;
});
$('#divisional-meetings-button').click(function() {
    $('{{ divisional_meeting_input({}) | replace("\n", "") }}').hide().appendTo('.divisional-meetings').slideDown();
    buttonAppearanceCheck();
    return false;
});
$('#division-projects-button').click(function() {
    $('{{ divisional_project_input({}) | replace("\n", "") }}').hide().appendTo('.division-projects').slideDown();
    buttonAppearanceCheck();
    return false;
});
</script>
{% endblock %}
