body {
    position: relative;
}

.home {
    margin-top: 20%;
    margin-bottom: 15%;
}

.nav-pills li.active a, .nav-pills li.active a:hover, .nav-pills li.active a:focus {
    background-color: #00aeef;
    color: #fff;
}

.page-header {
    margin-top: 20px;
}

.search-result {
    margin-top: 30px;
}

.search-result a {
    text-decoration: none;
}

mark, .mark {
    padding: .3em .05em;
}

.clickable-row td {
    cursor: pointer;
}

.dl-horizontal dd {
    margin-left: 20px;
    margin-bottom: 4px;
}

@media screen and (min-width: 768px) {
    .dl-horizontal dt {
        width: 215px;
    }
    .dl-horizontal dd {
        margin-left: 240px;
    }
}
