@font-face {
    font-family: "Myriad Pro";
    src: url(../fonts/myriad-pro.otf) format("truetype");
}
@font-face {
    font-family: "Century Gothic";
    src: url(../fonts/century-gothic.ttf) format("truetype");
}

noscript div.alert {
    margin-top: 10px;
}

noscript h3 {
    margin-top: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Century Gothic", Arial;
}

html, body {
    font-family: "Myriad Pro", Arial;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    height: 100%;
    min-height: 100%;
    position: relative;
}

.container {
    height: 100%;
    min-height: 100%;
    position: relative;
}

.alert {
    text-align: center;
}

.alert ul {
    display: table;
    margin-left:auto;
    margin-right: auto;
    padding-right: 40px;
    text-align: left;
}

.checkbox {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.clickable-row {
    cursor: pointer;
}

#logout-button {
    margin-top: 20px;
}

#overview-sections {
    margin-top: 20px;
}

blockquote.letter {
    font-size: 14px;
    margin-bottom: 0;
}

#example-submissions table td {
    vertical-align: top;
    padding: 5px;
}

#example-submissions h5 {
    padding: 10px;
    margin: 0;
}

#instruction-rules ul.list-unstyled {
    padding-left: 40px;
}

p.lead:last-child {
    margin-bottom: 0;
}

.project {
    padding-top: 10px;
    padding-bottom: 10px;
}

#application .btn-block {
    margin-bottom: 20px;
}

#district-projects-charity {
    display: inline-block;
}

input#district-projects-charity {
    width: 71%;
}

.newsletters .row {
    margin-bottom: 3px;
}

#result {
    margin-bottom: 0;
}

#advocacy-uploaded-files {
    padding: 15px;
    margin: 10px 0;
}

.upload-field {
    border: 4px dashed #ddd;
    width: 100%;
    height: 50px;
    padding: 13px;
}

.verification {
    margin-top: 20px;
}

.verification .glyphicon {
    font-size: 23px;
}

.verification h4 {
    margin-top: 5px;
    margin-bottom: 0px;
}

.home-wrapper, #faq {
    display: table;
    width: 100%;
    height: 100%;
}

.home {
    margin: auto;
    margin-top: 10%;
    width: 470px;
}

.home .title h1 {
    margin-top: 0;
}

.home .title h1.inline {
    padding: 0px 4px;
    display: inline-block;
}

.home img {
    width: 150px;
    margin: 10px 0 20px;
}

.home .btn-block {
    margin-top: 5px;
}

.question {
    font-size: 16px;
    font-weight: 700;
}

#questions {
    padding-bottom: 10px;
}

#questions .col-md-6 {
    margin-top: 5px;
}

@media screen and (max-width: 500px) {
    .home {
        width: 100%;
    }
}

@media screen and (max-width: 1200px) {
    .nav > li > a {
        padding: 6px 15px;
    }
}

@media screen and (min-width: 992px) {
    .sidebar.affix {
        width: 212.5px;
    }
}
@media screen and (min-width: 1200px) {
    .sidebar.affix {
        width: 262.5px;
    }
}

