@font-face {
    font-family: "Myriad Pro";
    src: url(../fonts/myriad-pro.otf) format("truetype");
}
@font-face {
    font-family: "Century Gothic";
    src: url(../fonts/century-gothic.ttf) format("truetype");
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Century Gothic", Arial;
}

body {
    font-family: "Myriad Pro", Arial;
}

.alert {
    text-align: center;
}

.checkbox {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#logout-button {
    margin-top: 20px;
}

.project {
    padding-top: 20px;
}

#application .btn-block {
    margin-bottom: 20px;
}

#district-projects-charity {
    display: inline-block;
}

input#district-projects-charity {
    width: 71%;
}

.newsletters .row {
    margin-bottom: 3px;
}

.home-wrapper {
    position: absolute;
    top: 50%;
    margin-top: -230px;
    left: 0;
    width: 100%;
}

.home {
    display: block;
    margin: auto;
    width: 454px;
}

@media screen and (max-width: 454px) {
    .home {
        width: 100%;
    }
}

@media screen and (max-width: 1200px) {
    .nav > li > a {
        padding: 6px 15px;
    }
}

@media screen and (min-width: 992px) {
    .sidebar.affix {
        width: 212.5px;
    }
}
@media screen and (min-width: 1200px) {
    .sidebar.affix {
        width: 262.5px;
    }
}

