<div class="page-header">
    <h3>Part 3: Involvement in Key Club Functions</h3>
</div>

<div class="section">
<h6>Section 1: Key Club Week Participation</h6>
<table class="key-club-week-table">
    <tbody>
        <tr>
            <td class="day">Monday</td>
            <td class="description">{{ application.key_club_week_mon }}</td>
        </tr>
        <tr>
            <td class="day">Tuesday</td>
            <td class="description">{{ application.key_club_week_tue }}</td>
        </tr>
        <tr>
            <td class="day">Wednesday</td>
            <td class="description">{{ application.key_club_week_wed }}</td>
        </tr>
        <tr>
            <td class="day">Thursday</td>
            <td class="description">{{ application.key_club_week_thu }}</td>
        </tr>
        <tr>
            <td class="day">Friday</td>
            <td class="description">{{ application.key_club_week_fri }}</td>
        </tr>
    </tbody>
</table>
</div>

<div class="separator">&nbsp;</div>

<div class="section">
<h6>Section 2: Attendance at Key Club Functions</h6>
<table class="attendance-table">
    <tbody>
        <tr>
            <td style="width:40pt;">{% if application.attendance_dtc %}<span class="text-success">[ x ]</span>{% else %}<span class="text-danger">[&nbsp;&nbsp;&nbsp;&nbsp;]</span>{% endif %}</td>
            <td>Divisional Training Conference/Personal Training</td>
        </tr>
        <tr>
            <td>{% if application.attendance_fall_rally %}<span class="text-success">[ x ]</span>{% else %}<span class="text-danger">[&nbsp;&nbsp;&nbsp;&nbsp;]</span>{% endif %}</td>
            <td>Fall Rally</td>
        </tr>
        <tr>
            <td>{% if application.attendance_kamp_kiwanis %}<span class="text-success">[ x ]</span>{% else %}<span class="text-danger">[&nbsp;&nbsp;&nbsp;&nbsp;]</span>{% endif %}</td>
            <td>Kamp Kiwanis</td>
        </tr>
        <tr>
            <td>{% if application.attendance_key_leader %}<span class="text-success">[ x ]</span>{% else %}<span class="text-danger">[&nbsp;&nbsp;&nbsp;&nbsp;]</span>{% endif %}</td>
            <td>Key Leader</td>
        </tr>
        <tr>
            <td>{% if application.attendance_ltc %}<span class="text-success">[ x ]</span>{% else %}<span class="text-danger">[&nbsp;&nbsp;&nbsp;&nbsp;]</span>{% endif %}</td>
            <td>Leadership Training Conference</td>
        </tr>
        <tr>
            <td>{% if application.attendance_icon %}<span class="text-success">[ x ]</span>{% else %}<span class="text-danger">[&nbsp;&nbsp;&nbsp;&nbsp;]</span>{% endif %}</td>
            <td>International Convention</td>
        </tr>
    </tbody>
</table>
</div>

<div class="separator">&nbsp;</div>

<div class="section">
<h6>Section 3: Positions Held within Key Club</h6>
<div class="positions-essay">{{ application.positions|e|replace('\n', '<br>') }}</div>
</div>
