<div class="page-header">
    <h3>Part 4: Projects, Advocacy &amp; Newsletters</h3>
</div>

<div class="section">
<h6>Section 1: K-Family Projects</h6>
<i>Kiwanis One Day Event ({% if application.kiwanis_one_day %}1{% else %}0{% endif %} listed below)</i>
<div class="project">
{% if application.kiwanis_one_day %}
    <strong>Event</strong>: {{ application.kiwanis_one_day.event }}<br>
    <strong>Location</strong>: {{ application.kiwanis_one_day.location }}<br>
    <strong>Description</strong>: {{ application.kiwanis_one_day.description }}
{% endif %}
</div>
<i>K-Family Service Projects ({{ application.k_family_projects|length }} listed below)</i>
{% for project in application.k_family_projects %}
<div class="project">
    <strong>Event</strong>: {{ project.event }}<br>
    <strong>Location</strong>: {{ project.location }}<br>
    <strong>Description</strong>: {{ project.description }}
</div>
{% endfor %}

<div class="separator">&nbsp;</div>

<div class="section">
<h6>Section 2: Interclub Events ({{ application.interclub_projects|length }} listed below)</h6>
{% for project in application.interclub_projects %}
<div class="project">
    <strong>Event</strong>: {{ project.event }}<br>
    <strong>Location</strong>: {{ project.location }}<br>
    <strong>Description</strong>: {{ project.description }}
</div>
{% endfor %}
</div>

<div class="separator">&nbsp;</div>

<div class="section">
<h6>Section 3: Advocacy ({% if application.advocacy_cause %}1{% else %}0{% endif %} listed below)</h6>
{% if application.advocacy_cause %}
<div class="project">
    <strong>Cause</strong>: {{ application.advocacy_cause }}<br>
    <strong>Description</strong>: {{ application.advocacy_description }}
</div>
{% endif %}
</div>

<div class="separator">&nbsp;</div>

<div class="section">
<h6>Section 4: Committee Involvement ({% if application.committee %}1{% else %}0{% endif %} listed below)</h6>
{% if application.committee %}
<div class="project">
    <strong>Committee</strong>: {{ application.committee }}<br>
    <strong>Type</strong>: {{ application.committee_type }}<br>
    <strong>Description</strong>: {{ application.committee_description }}
</div>
{% endif %}
</div>

<div class="separator">&nbsp;</div>

<div class="section">
<h6>Section 5: Newsletter Article Submissions</h6>
<table class="newsletter-submission-table">
    <thead>
        <tr>
            <th style="width:50pt;"></th>
            <th style="width:340pt;">Source</th>
            <th>Information/Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{% if application.divisional_newsletter %}<span class="text-success">[ x ]</span>{% else %}<span class="text-danger">[&nbsp;&nbsp;&nbsp;&nbsp;]</span>{% endif %}</td>
            <td>Divisional Newsletter</td>
            <td>{% if application.divisional_newsletter_info %}{{ application.divisional_newsletter_info }}{% endif %}</td>
        </tr>
        <tr>
            <td>{% if application.district_newsletter %}<span class="text-success">[ x ]</span>{% else %}<span class="text-danger">[&nbsp;&nbsp;&nbsp;&nbsp;]</span>{% endif %}</td>
            <td>District Newsletter (The Empire Key)</td>
            <td>{% if application.district_newsletter_info %}{{ application.district_newsletter_info }}{% endif %}</td>
        </tr>
        <tr>
            <td>{% if application.district_website %}<span class="text-success">[ x ]</span>{% else %}<span class="text-danger">[&nbsp;&nbsp;&nbsp;&nbsp;]</span>{% endif %}</td>
            <td>District Website</td>
            <td>{% if application.district_website_info %}{{ application.district_website_info }}{% endif %}</td>
        </tr>
    </tbody>
</table>
</div>

<div class="separator">&nbsp;</div>

<div class="section">
<h6>Section 6: Other Projects/Fundraisers ({{ application.other_projects|length }} listed below)</h6>
{% for project in application.other_projects %}
<div class="project">
    <strong>Event</strong>: {{ project.event }}<br>
    <strong>Location</strong>: {{ project.location }}<br>
    <strong>Description</strong>: {{ project.description }}
</div>
{% endfor %}
</div>
