{% extends "admin.html" %}
{% set title = 'Run Query' %}
{% block admin %}
<div class="page-header">
    <h2>Run Query</h2>
</div>

<form class="form-inline clearfix" id="query-form" method="post">
    <div class="form-group col-sm-9 col-md-10">
        <input type="text" class="form-control" placeholder="SELECT * FROM Application WHERE early_submission=TRUE" name="querystring" style="width: 100%;" autocomplete="off" value="{{ querystring }}">
    </div>
    <button type="submit" class="btn btn-info col-xs-12 col-sm-2 col-md-1">Run &raquo;</button>
</form>

<div id="query-results">
    {% if query_results|length == 0 %}
    <p class="lead">There was a problem running your query!</p>
    {% endif %}

    <ul class="list-unstyled">
    {% for result in query_results %}
        {% set keyid = result.key|replace("'","")|replace(" ","")|replace(",","-")|replace("(","")|replace(")","")|replace(".","")|replace(":","")|replace("@","") %}
        <li><button type="button" class="btn btn-link" data-toggle="modal" data-target="#{{ keyid }}">{{ result.key }}</button></li>
        <div class="modal fade" id="{{ keyid }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">{{ result.key }}</h4>
                    </div>
                    <div class="modal-body">
                        <ul>
                        {% for var in result|getvars -%}
                            {%- if "bound method" not in result[var]|e and "pw" not in var and "model" not in var -%} {# Leave only variables #}
                            <li>{{ var }}: {{ result[var] }}</li>
                            {%- endif -%}
                        {%- endfor %}
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </ul>
</div>
{% endblock %}
{% block scripts %}

{% endblock %}
