{% extends "admin.html" %}
{% set title = 'Overview' %}
{% block admin %}
<div class="page-header">
    <h2>Overview</h2>
</div>

<p class="lead">There are <strong>{{ applicants|length }}</strong> applicants.</p>
<div class="table-responsive">
    <table class="table table-condensed table-hover table-striped" id="overview-applicants">
        <thead>
            <tr>
                <th>Division</th>
                <th class="text-nowrap">First Name</th>
                <th class="text-nowrap">Last Name</th>
                <th class="hidden-sm">Email</th>
                <th>Submitted?</th>
                <th>Awards</th>
            </tr>
        </thead>
        <tbody>
            {% for user in applicants %}
            <tr class="clickable-row" href="/admin/show/{{ user.auth_ids[0] }}">
                <td>{{ user.division }}</td>
                <td>{{ user.first_name }}</td>
                <td>{{ user.last_name }}</td>
                <td class="hidden-sm">{{ user.email }}</td>
                {% if applications[loop.index0].early_submission %}
                    <td class="text-success"><span class="glyphicon glyphicon-ok"></span> <span class="glyphicon glyphicon-time"></span><span class="hidden">0</span></td>
                {% elif applications[loop.index0].submit_time %}
                    <td class="text-success"><span class="glyphicon glyphicon-ok"></span><span class="hidden">0</span></td>
                {% else %}
                    <td class="text-danger"><span class="glyphicon glyphicon-remove"></span><span class="hidden">1</span></td>
                {% endif %}
                <td>{% if 'Outstanding' in applications[loop.index0].outstanding_awards|e %}<span class="glyphicon glyphicon-star"></span><span class="hidden">0</span>{% else %}<span class="hidden">1</span>{% endif %}</td>
            </td>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
{% block admin_scripts %}
<script src="/js/tablesorter.min.js"></script>
<script>
function clickableRows() {
    $(".clickable-row").click(function() {
        window.open($(this).attr('href'), '_blank');
    });
}
$(document).ready(function() {
    clickableRows();
    $("#overview-applicants").tablesorter();
});
</script>
{% endblock %}
