{% extends "admin.html" %}
{% set title = 'View Deleted Files' %}
{% block admin %}
<div class="page-header">
    <h2>View Deleted Files</h2>
</div>

<div class="table-responsive">
    <table class="table table-condensed table-hover">
        <thead>
            <tr>
                <th>Filename</th>
                <th>Size</th>
                <th>Owner</th>
                <th></th>
        </thead>
        <tbody>
        {% for file in deleted_files %}
            {% set blob_data = ([file.blob]|getblobdata)[0] %}
            <tr href="/serve/{{ blob_data.blob_key }}/{{ blob_data.filename|e }}" class="clickable-row">
                <td>{{ blob_data.filename|e }}</td>
                <td class="text-nowrap">{{ blob_data.size|byteconvert }}</td>
                <td>{{ file.user|e }}</td>
                <td class="col-sm-1"><a href="/admin/deleted_files/delete/{{ deleted_files_keys[loop.index0] }}"><span class="glyphicon glyphicon-trash"></span></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
{% block admin_scripts %}
<script>
function clickableRows() {
    $(".clickable-row td:not(:last-child)").click(function() {
        window.open($(this).parent().attr('href'), '_blank');
    });
    $('.clickable-row td a').click(function() {
        var trash = $(this);
        $.post(trash.attr('href'))
         .done(function() {
             trash.parent().parent().fadeOut(500);
          })
         .error(function() {
             sweetAlert("Delete failed!", "Something went wrong with deleting the file...", "error");
          });
        return false;
    });
}
$(document).ready(clickableRows);
</script>
{% endblock %}
