Authlib==1.1.0
bcrypt==3.2.0
cryptography==39.0.1
Flask==2.2.2
flask-talisman==0.7.0
flask-login==0.6.2
Flask-WTF==1.0.1
google-cloud-datastore==1.15.5
google-cloud-logging==3.2.5
google-cloud-ndb==1.11.2
google-cloud-resource-manager==1.6.3
google-cloud-storage==2.6.0
grpcio==1.50.0
gunicorn==20.0.4
passlib==1.7.4
pytz==2022.06
reportlab==3.6.12
mailersend==0.5.0
sendgrid==6.9.7
xhtml2pdf==0.2.8
wtforms[email]==3.0.1
