Authlib==1.6.5
bcrypt==4.3.0
cryptography==46.0.3
Flask==3.1.2
flask-talisman==1.1.0
flask-login==0.6.3
Flask-WTF==1.2.2
google-cloud-datastore==2.21.0
google-cloud-logging==3.12.1
google-cloud-ndb==2.3.4
google-cloud-resource-manager==1.15.0
google-cloud-storage==3.4.1
maileroo==1.0.0
grpcio==1.76.0
gunicorn==23.0.0
passlib==1.7.4
pytz==2025.2
mailersend==0.5.6
xhtml2pdf==0.2.17
wtforms[email]==3.2.1
