{% extends "admin.html" %}
{% block admin %}
<div class="page-header">
    <h2>{{ applicant.first_name }} {{ applicant.last_name }}</h2>
</div>

<div class="page-header">
    <h3 id="profile">Profile</h3>
</div>
<dl class="dl-horizontal profile">
    <dt>First Name</dt><dd>{{ applicant.first_name }}</dd>
    <dt>Last Name</dt><dd>{{ applicant.last_name }}</dd>
    <dt>Email</dt><dd>{{ applicant.email }}</dd>
    <dt>Grade</dt><dd>{{ applicant.grade}}</dd>
    <dt>Address</dt><dd>{{ applicant.address }}</dd>
    <dt>City</dt><dd>{{ applicant.city }}</dd>
    <dt>Zip Code</dt><dd>{{ applicant.zip_code }}</dd>
    <dt>Phone Number</dt><dd>{{ applicant.phone_number }}</dd>
    <dt>Division</dt><dd>{{ applicant.division }}</dd>
    <dt>Lieutenant Governor</dt><dd>{{ applicant.ltg }}</dd>
    <dt>School</dt><dd>{{ applicant.school }}</dd>
    <dt>School Address</dt><dd>{{ applicant.school_address }}</dd>
    <dt>School City</dt><dd>{{ applicant.school_city }}</dd>
    <dt>School Zip Code</dt><dd>{{ applicant.school_zip_code }}</dd>
    <dt>Club President</dt><dd>{{ applicant.club_president }}</dd>
    <dt>Club President Phone Number</dt><dd>{{ applicant.club_president_phone_number }}</dd>
    <dt>Faculty Advisor</dt><dd>{{ applicant.faculty_advisor }}</dd>
    <dt>Faculty Advisor Phone Number</dt><dd>{{ applicant.faculty_advisor_phone_number }}</dd>
</dl>

<hr>

<div class="page-header">
    <h3 id="personal-statement">Personal Statement <span class="text-nowrap">(120 Points)</span></h3>
</div>
{% set personal_statement_questions = ["How has Key Club impacted your life? Describe a pivotal moment in your Key Club experience as part of your answer.", "What makes Key Club a unique organization? How has Key Club affected your home, school, or community?", "Why did you join Key Club? How has your perspective on Key Club changed since you joined?", "How do you describe Key Club to a non-Key Club member?"] %}
<p><strong>Topic</strong>: {{ personal_statement_questions[application.personal_statement_choice|int] }}</p>
<div class="personal-statement-essay">{{ application.personal_statement|e|replace('\n', '<br>') }}</div>

<hr>

<div class="page-header">
    <h3 id="projects">International, District &amp; Divisional Projects <span class="text-nowrap">(60 Points)</span></h3>
</div>
<h4>Sections 1, 2, 3</h4>
{% set international_projects_sections = ["Governor’s Project: “Water: The Key to Life”", "Major Emphasis: “Children: Their Focus, Our Future”", "Major Emphasis Service Partners (UNICEF, Children’s Miracle Network, Eliminate, March of Dimes)"] %}
{% for project in application.international_projects %}
<div class="row project">
    <div class="col-sm-3">
        <strong>Section</strong>: <span class="tooltip-trigger" data-toggle="tooltip" title="{{ international_projects_sections[project.section|int-1] }}">{{ project.section }}</span>
    </div>
    <div class="col-sm-9">
        <strong>Event</strong>: {{ project.event }}
    </div>
    <div class="col-sm-12">
        {{ project.description }}
    </div>
</div>
{% endfor %}

<div class="clearfix">
    <hr class="col-xs-6 col-xs-offset-3">
</div>

<h4>Section 4: District Projects & Local Causes</h4>
{% for project in application.district_projects %}
<div class="row project">
    <div class="col-md-6">
        <strong>Event</strong>: {{ project.event }}
    </div>
    <div class="col-md-6">
        <strong>Charity</strong>: {{ project.charity }}
    </div>
    <div class="col-md-12">
        {{ project.description }}
    </div>
</div>
{% endfor %}

<div class="clearfix">
    <hr class="col-xs-6 col-xs-offset-3">
</div>

<h4>Section 5: Divisional Involvement</h4>
Attendance at Divisional Meetings (Max 8 Points, 4 Points per Event)
{% for divisional in application.divisionals %}
<div class="row divisional">
    <div class="col-sm-4">
        <strong>Date</strong>: {{ divisional.date }}
    </div>
    <div class="col-sm-8">
        <strong>Location</strong>: {{ divisional.location }}
    </div>
</div>
{% endfor %}
<br>
Attendance at a Divisional Project/Event (Max 8 Points, 4 Points per Event)
{% for project in application.division_projects %}
<div class="row project">
    <div class="col-md-6">
        <strong>Event</strong>: {{ project.event }}
    </div>
    <div class="col-md-6">
        <strong>Location</strong>: {{ project.location }}
    </div>
    <div class="col-md-12">
        {{ project.description }}
    </div>
</div>
{% endfor %}

<hr>

<div class="page-header">
    <h3 id="involvement">Involvement in Key Club Functions <span class="text-nowrap">(60 Points)</span></h3>
</div>
    

<br><br><br>
{{ application|e }}
{% endblock %}
