{% extends "admin.html" %}
{% block admin %}
<div class="page-header">
    <h2>Search</h2>
</div>

<form id="admin" role="form">
    <div class="input-group">
        <input type="search" class="form-control" id="search" name="q" value="{{ q }}" autocomplete="off">
        <span class="input-group-btn">
            <button type="submit" class="btn btn-default">Search!</button>
        </span>
    </div>
</form>

{% if q %}
<div class="search-result">
    {% for applicant in applicants %}
        <a href="/admin/show/{{ applicant.email }}">
            <h4>{{ applicant.first_name }} {{ applicant.last_name }}</h4>
            <dl class="dl-horizontal">
                {% set applicant_info = [('Email', applicant.email),
                                         ('Grade', applicant.grade),
                                         ('Address', [applicant.address, applicant.city, applicant.zip_code]|join(", ") ),
                                         ('Phone Number', applicant.phone_number),
                                         ('Division', applicant.division),
                                         ('Lieutenant Governor', applicant.ltg),
                                         ('School', applicant.school),
                                         ('School Address', [applicant.school_address, applicant.school_city, applicant.school_zip_code]|join(", ") ),
                                         ('Club President', [applicant.club_president, applicant.club_president_phone_number]|join(", ") ),
                                         ('Faculty Advisor', [applicant.faculty_advisor, applicant.faculty_advisor_phone_number]|join(", ") )
                                        ]%}
                {% for info in applicant_info %}
                    {% if q|lower in info[1]|e|lower %}
                    <dt>{{ info[0] }}</dt><dd>{{ info[1]|highlight_search(q) }}</dd>
                    {% endif %}
                {% endfor %}
            </dl>
            <hr>
        </a>
    {% endfor %}
    </div>
{% endif %}

{% endblock %}
