{% extends "admin-layout.html" %}
{% block body %}
<div class="home-wrapper">
    <div class="home text-center">

{%- with messages = get_flashed_messages(category_filter=["error"]) %}
    {%- if messages %}
        <div class="alert alert-danger">
            {%- for message in messages %}
                {{ message }}
            {%- endfor %}
        </div>
    {%- endif %}
{%- endwith %}

        <div class="title">
            <h1>DKC App Admin</h1>
        </div>

        <img src="/images/NY_Key_Club_Logo.png">

        <a class="btn btn-success btn-block" href="{{ login_url }}">Login</a>
        <a class="btn btn-danger btn-block" href="/">Return to the Application</a>
    </div>
</div>
{% endblock %}
