{% extends "verification/_verification.html" %}
{% set title = 'Club President Verification' %}
{% block verifier_information %}
<div class="form-group">
    <label class="col-xs-6 control-label">Club President</label>
    <div class="col-xs-6">
        <p class="form-control-static">{{ application.club_president|e }}</p>
    </div>
</div>
<div class="form-group">
    <label class="col-xs-6 control-label">Club President Phone Number</label>
    <div class="col-xs-6">
        <p class="form-control-static">{{ application.club_president_phone_number|e }}</p>
    </div>
</div>
<div class="form-group">
    <label class="col-xs-6 control-label">Club President Email</label>
    <div class="col-xs-6">
        <p class="form-control-static">{{ application.verification_club_president_email|e }}</p>
    </div>
</div>
{% endblock %}
